{% extends "3columns.html" %}

{% block title %}{% endblock %}

{% block media %}
{% endblock %}

{% block section2 %}
    	<div class="wrapper-div3">
    		{% if user.profile.get_profile_progress < 100 %}
    		<div class="alert alert-info">
    			<button type="button" class="close" data-dismiss="alert">&times;</button>
    			<h4>Perfil Incompleto</h4>
    			Completalo agregando tu imagen de perfil, direcciones y telefonos.
    			<a href="#">¿Porque proporciono esta informacion?</a>
    		</div>
    		{% endif %}
    		<div class="row-fluid">
    			<div class="thumbnail span3">
    				<img src="{{ user.profile.get_profile_picture }}">
    			</div>

    			<div class="span8">
    				<h3>{{ user.get_full_name }}</h3>
    			</div>
    		</div>

    		<div>
				<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
		
					<div>
						<legend>Nombre de tu Empresa</legend>
						{{ form.company }}
						<span class="help-block">Solo en Caso que representes una Empresa</span>
						{{ form.company.errors }}
					</div>

					<div>
						<legend>Imagen de Perfil</legend>
						{{ form.profile_picture }}
						<span class="help-block">Formato .jpg, .png, .bmp</span>
						{{ form.profile_picture.errors }}
					</div>

					<center>
						<input type="submit" class="btn btn-large btn-success" value="Guardar">
					</center>
				</form>
			</div>
    	</div>

    	<div class="wrapper-div3">
			<legend>Direcciones</legend>
			{% for address in user.profile.addresses.all %}
				<div class="row-fluid hover1">
					<div class="span9">
						{{ address }}
					</div>
					<div>
						<a class="margin5" href="/profile/e/editaddress/{{ address.pk }}">Editar</a>
						<a class="margin5" href="#">Eliminar</a>
					</div>
				</div>
			{% empty %}
			<div class="alert alert-danger">
				<h4>No has agregado ninguna direccion</h4>
				<a href="#">¿Porque agrego esta información?</a>
			</div>
			{% endfor %}
			<a href="/profile/e/newaddress">+ Agregar</a>
		</div>


		<div class="wrapper-div3">
			<legend>Telefonos</legend>
			{% for phone in user.profile.phones.all %}
				<div class="row-fluid hover1">
					<div class="span9">
						{{ phone }}
					</div>
					<div>
						<a class="margin5" href="/profile/e/editphone/{{ phone.pk }}">Editar</a>
						<a class="margin5" href="#">Eliminar</a>
					</div>
				</div>
			{% empty %}
			<div class="alert alert-danger">
				<h4>No has agregado ningun telefono</h4>
				<a href="#">¿Porque agrego esta información?</a>
			</div>
			{% endfor %}

			<a href="/profile/e/newphone">+ Agregar</a>
		</div>

		<div class="wrapper-div3">
			<legend>Cuentas Bancarias</legend>
			{% for bank in user.profile.banks.all %}
				<div class="row-fluid hover1">
					<div class="span9">
						{{ bank }}
					</div>
					<div>
						<a class="margin5" href="/profile/e/editbank/{{ bank.pk }}">Editar</a>
						<a class="margin5" href="#">Eliminar</a>
					</div>
				</div>
			{% empty %}
			<div class="alert alert-danger">
				<h4>No has agregado ninguna cuenta bancaria</h4>
				<a href="#">¿Porque agrego esta información?</a>
			</div>
			{% endfor %}
			<a href="/profile/e/newaccountbank">+ Agregar</a>
		</div>
{% endblock %}

