{% extends "base.html" %}
{% block title %}

{% endblock %}
{% block media %}

{% endblock %}

{% block content %}

<section class="EditProfileForm GroupItemsForm">

	<span class="ItemSpanBig">Perfil</span>

	<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

	<div class="ProfilePictureWrapper">

		<img src="{{ user.perfil.get_profile_picture_250x250 }}">

	</div>

	<div class="CompanyProfilePictureWrapper" >

		<div class="">
			<span class="LabelItemForm">Nombre de tu Empresa</span>
			{{ form.company }}
			{{ form.company.errors }}
		</div>
		<div class="">
			<span class="LabelItemForm">Foto de Perfil</span>
			{{ form.profile_picture }}
			{{ form.profile_picture.errors }}
		</div>

	</div>

	<div>

		<div class="">
			<span class="LabelItemForm">Dirección 1</span>
			{{ form.address }}
			{{ form.address.errors }}
		</div >
		<div class="">
			<span class="LabelItemForm">Dirección 2</span>
			{{ form.address2 }}
			{{ form.address2.errors }}
		</div>

	</div>

	<div class="StateCityWrapper"> 

		<div class="AddressInfoDiv">
			<span class="LabelItemForm">Estado</span>
			{{ form.state }}
			{{ form.state.errors }}
		</div>
		<div class="AddressInfoDiv">
			<span class="LabelItemForm">Ciudad</span>
			{{ form.city }}
			{{ form.city.errors }}
		</div>

	</div>

	<div>

		<div class="AddressInfoDiv">
			<span class="LabelItemForm">Codigo Postal</span>
			{{ form.zipcode }}
			{{ form.zipcode.errors }}
		</div>

		<div class="AddressInfoDiv">
			<span class="LabelItemForm">Telefono</span>
			{{ form.phone }}
			{{ form.phone.errors }}
		</div>

	</div>

	<div>

		<div class="">
			<span class="LabelItemForm">Banco</span>
			{{ form.bank }}
			{{ form.bank.errors }}
		</div>
		<div class="">
			<span class="LabelItemForm">Cuenta Bancaria</span>
			{{ form.account_bank }}
			{{ form.account_bank.errors }}
		</div>
		<div class="">
			<span class="LabelItemForm">Cuenta Paypal</span>
			{{ form.account_paypal }}
			{{ form.account_paypal.errors }}
		</div>	

	</div>




	

		<input type="submit" class="button-blue" value="SUBIR">
</form>



</section>


{% endblock %}

