{% extends "base.html" %}
{% block title %}

{% endblock %}
{% block media %}

{% endblock %}

{% block content %}

<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
		<div>
			<span>Nombre de tu Empresa</span>
			{{ form.company }}
			{{ form.company.errors }}
		</div>
		<div>
			<span>Dirección 1</span>
			{{ form.address }}
			{{ form.address.errors }}
		</div>
		<div>
			<span>Dirección 2</span>
			{{ form.address2 }}
			{{ form.address2.errors }}
		</div>
		<div>
			<span>Ciudad</span>
			{{ form.city }}
			{{ form.city.errors }}
		</div>
		<div>
			<span>Codigo Postal</span>
			{{ form.zipcode }}
			{{ form.zipcode.errors }}
		</div>
		<div>
			<span>Estado</span>
			{{ form.state }}
			{{ form.state.errors }}
		</div>
		<div>
			<span>Telefono</span>
			{{ form.phone }}
			{{ form.phone.errors }}
		</div>
		<div>
			<span>Banco</span>
			{{ form.bank }}
			{{ form.bank.errors }}
		</div>
		<div>
			<span>Cuenta Bancaria</span>
			{{ form.account_bank }}
			{{ form.account_bank.errors }}
		</div>
		<div>
			<span>Cuenta Paypal</span>
			{{ form.account_paypal }}
			{{ form.account_paypal.errors }}
		</div>		
		<input type="submit" value="SUBIR">
</form>


{% endblock %}

