{% extends "3columns.html" %}

{% block title %}{% endblock %}

{% block media %}
{% endblock %}

{% block section2 %}
    	<div class="wrapper-div">
    		<div class="row-fluid">
    			<div class="thumbnail span3">
    				<img src="{{ user.profile.get_profile_picture }}">
    			</div>

    			<div class="span8">
    				<legend>{{ user.get_full_name }}</legend>
    			</div>
    		</div>

    		<div>
				<form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
		
					<div class="control-group">
						<label class="control-label">Nombre de tu Empresa</label>
						<div class="controls">
							{{ form.company }}
							{{ form.company.errors }}
							<span class="help-block">Solo en Caso que representes una Empresa</span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Imagen de Perfil </label>
						<div class="controls">
						{{ form.profile_picture }}
						{{ form.profile_picture.errors }}
						</div>
					</div>

					<center>
						<input type="submit" class="btn btn-large btn-primary" value="Guardar">
					</center>
				</form>
			</div>
    	</div>

    	<div class="wrapper-div">
			<legend>Direcciones</legend>
			{% for address in user.profile.addresses.all %}
				<div class="row-fluid hover1">
					<div class="span9">
						{{ address }}
					</div>
					<div>
						<a class="margin5" href="/profile/e/editaddress/{{ address.pk }}">Editar</a>
						<a class="margin5" href="#">Eliminar</a>
					</div>
				</div>
			{% endfor %}
			<a href="/profile/e/newaddress">+ Agregar</a>
		</div>


		<div class="wrapper-div">
			<legend>Telefonos</legend>
			{% for phone in user.profile.phones.all %}
				<div class="row-fluid hover1">
					<div class="span9">
						{{ phone }}
					</div>
					<div>
						<a class="margin5" href="/profile/e/editphone/{{ phone.pk }}">Editar</a>
						<a class="margin5" href="#">Eliminar</a>
					</div>
				</div>
			{% endfor %}

			<a href="/profile/e/newphone">+ Agregar</a>
		</div>

		<div class="wrapper-div">
			<legend>Cuentas Bancarias</legend>
			{% for bank in user.profile.banks.all %}
				<div class="row-fluid hover1">
					<div class="span9">
						{{ bank }}
					</div>
					<div>
						<a class="margin5" href="/profile/e/editbank/{{ bank.pk }}">Editar</a>
						<a class="margin5" href="#">Eliminar</a>
					</div>
				</div>
			{% endfor %}
			<a href="/profile/e/newaccountbank">+ Agregar</a>
		</div>
{% endblock %}

