{% extends "base.html" %}
{% block title %}

{% endblock %}
{% block media %}

{% endblock %}

{% block content %}

<section>



	<span>{{ user.get_full_name}}</span>

	<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

	<div>

		<img src="{{ user.profile.get_profile_picture_250x250 }}">

	</div>

	<div>

		{{ form.errors }}

		<div class="">
			<span>Nombre de tu Empresa</span>
			{{ form.company }}
			{{ form.company.errors }}
		</div>
		<div class="">
			<span>Foto de Perfil</span>
			{{ form.profile_picture }}
			{{ form.profile_picture.errors }}
		</div>

	</div>

	<div>

		<input type="submit" class="button-blue" value="GUARDAR">

	</div>

	

		
</form>

</section>

<section>

	</div>

	<div class="AddressesWrapper GroupItemsForm">

		{% for address in user.profile.addresses.all %}

		<div>

			<div class="CategoryPictureWrapper">

			</div>

			<div class="CategoryInfoWrapper">
				<p>{{ address|upper }}</p>
			</div>

		</div>

		{% empty %}

		<span>No has agregado ninguna direccion</span>

		{% endfor %}

		<a href="/profile/e/newaddress">+ Direcciones</a>

	</div>

	<div class="PhonesWrapper GroupItemsForm">

		{% for phone in user.profile.phones.all %}

		<div>

			<div class="CategoryPictureWrapper">

			</div>

			<div class="CategoryInfoWrapper">
				<p>{{ phone|upper }}</p>
			</div>

		</div>

		{% empty %}

			<span>No has agregado ningun Telefono</span>

		{% endfor %}

		<a href="/profile/e/newphone">+ Telefono</a>

	</div>

	<div class="AccountsWrapper GroupItemsForm">

		{% for account in user.profile.banks.all %}

		<div>

			<div class="CategoryPictureWrapper">

			</div>

			<div class="CategoryInfoWrapper">
				<p>{{ account|upper }}</p>
			</div>

		</div>

		{% empty %}

			<span>No has agregado ninguna cuenta Bancaria</span>

		{% endfor %}


		<a href="/profile/e/newaccountbank">+ Cuenta Bancaria</a>

	</div>

</section>


{% endblock %}

