{% extends "3columns.html" %}
{% block title %}{% endblock %}
{% block media %}

{% endblock %}

{% block section2 %}
<section class="wrapper-div3 text-center">
	<h2>Nueva Cuenta Bancaria</h2>

	<form action='' method='POST'>{% csrf_token %}

		<div>
			<legend>Nombre del Banco</legend>
			{{ form.bank }}
			<span class="block-help">Ej. Banamex, Bancomer, Banorte</span>
			{{ form.bank.errors }}
		</div>

		<div>
			<legend>Numero de Cuenta</legend>
			{{ form.account }}
			{{ form.account.errors }}
		</div>

		<div>
			<input class="btn btn-large btn-success" type="submit" value="Guardar">
		</div>

	</form>

</section>

{% endblock %}