{% extends "3columns.html" %}
{% block title %}{% endblock %}
{% block media %}

{% endblock %}

{% block section2 %}
<section class="wrapper-div">
	<legend>Agregar Cuenta Bancaria</legend>

	<form class="form-horizontal" action='' method='POST'>{% csrf_token %}

		<div class="control-group">
			<label class="control-label">Nombre del Banco</label>
			<div class="controls">
				{{ form.bank }}
				{{ form.bank.errors }}
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Numero de Cuenta</label>
			<div class="controls">
				{{ form.account }}
				{{ form.account.errors }}
			</div>
		</div>

		<center>
			<input class="btn btn-large btn-primary" type="submit" value="Guardar">
		</center>

	</form>

</section>

{% endblock %}