{% extends "3columns.html" %}
{% block title %}{% endblock %}
{% block media %}

{% endblock %}

{% block section2 %}

<section class="wrapper-div background1">
	<h2>Nueva Dirección</h2>
	<form action='' method='POST'>{% csrf_token %}

		<div>
			<legend>Calle</legend>
			{{ form.street }}
			{{ form.street.errors }}
		</div>

		<div>
			<legend>Numero</legend>
			{{ form.number }}
			{{ form.number.errors }}
		</div>

		<div>
			<legend>Colonia</legend>
			{{ form.suburb }}
			{{ form.suburb.errors }}
		</div>

		<div>
			<legend>Ciudad</legend>
			{{ form.city }}
			{{ form.city.errors }}
		</div>

		<div>
			<legend>Estado</legend>
			{{ form.state }}
			{{ form.state.errors }}
		</div>

		<div>
			<legend>Pais</legend>
			{{ form.country }}
			{{ form.country.errors }}
		</div>

		<div>
			<legend>Codigo Postal</legend>
			{{ form.zipcode }}
			{{ form.zipcode.errors }}
		</div>

		<center>
			<input class="btn btn-success btn-large" type="submit" value="Guardar">
		</center>
		
	</form>

</section>

{% endblock %}