{% extends "3columns.html" %}
{% block title %}{% endblock %}
{% block media %}

{% endblock %}

{% block section2 %}

<section class="wrapper-div background1">
	<h2>Nuevo Telefono</h2>
	<form action='' method='POST'>{% csrf_token %}
		<div>
			<legend>Tipo de Telefono</legend>
			{{ form.place }}
			<span class="help-block">Si es de Casa, Celular u de Oficina</span>
			{{ form.place.errors }}
		</div>

		<div>
			<legend>Numero Telefonico</legend>
			{{ form.number }}
			<span class="help-block">Incluye clave LADA</span>
			{{ form.number.errors }}
		</div>

		<center>
			<input class="btn btn-large btn-success" type="submit" value="Guardar">
		</center>

	</form>

</section>

{% endblock %}