{% extends "3columns.html" %}
{% block title %}

{% endblock %}

{% block media %}

{% endblock %}

{% block section2 %}
<section class="wrapper-div3">
	<div>
		<div class="text-center">
			<h2>Información {{ profile.user }}</h2>
		</div>
		<div class="row-fluid">
			<div class="span3 thumbnail">
				<img src="{{ profile.profile_picture.url }}">
			</div>
			<div class="span8">
				<legend>{{ profile.user.get_full_name }}  ({{ profile.user }})</legend>
			</div>
		</div>
		<div class="text-center">
			<h3>Prestigio</h3>
			<h2>{{ profile.prestige }}</h2>
		</div>
		<div>
			<h1>{{ profile.prestige }}</h1>
			<div class="row-fluid text-center">
				<div class="span6 wrapper-div4">
					<h3>Puntos Positivos</h3>
					<h4>{{ profile.positive_points }}</h4>
				</div>
				<div class="span6 wrapper-div4">
					<h3>Puntos Negativos</h3>
					<h4>{{ profile.negative_points }}</h4>
				</div>	
			</div>
		</div>
		<div class="text-center">
			<h3>Información</h3>
		</div>
		<div class="row-fluid text-center">
			<div class="span6 wrapper-div4">
				<h3>Total de Compras</h3>
				<h4>{{ profile.total_purchases }}</h4>
				<a href="/prestige/critiques/{{ profile.user }}">Ver Criticas</a>
			</div>
			<div class="span6 wrapper-div4">
				<h3>Total de Ventas</h3>
				<h4>{{ profile.total_sales }}</h4>
				<a href="/prestige/critiques/{{ profile.user }}">Ver Criticas</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}