{% extends "3columns.html" %}
{% block title %}

{% endblock %}

{% block media %}

{% endblock %}

{% block section2 %}
<section>
	<div>

		<div>

			<img src="{{ profile.get_profile_picture_100x100 }}">

		</div>

		<div>

			<div>
				<span>{{ profile.user.get_full_name }}</span>
			</div>

			<div>

				<img src="{{ profile.get_prestige_picture }}">

			</div>

			<div>

				<div>

					<span>Total de compras: </span><span>{{ profile.total_purchases }}</span>

				</div>

				<div>

					<span>Total de Ventas: </span><span>{{ profile.total_sales }}</span>

				</div>

			</div>

		</div>


	</div>

	<div>

		<div>

			<h3>Criticas como Comprador</h3>

			{% for critique in prestigeLikeBuyer %}

				{{ critique.assignment.article.title }}||{{ critique.prestige }}<a href="#">Mas detalles</a>

			{% empty %}

				<span>No hay criticas como Comprador para este usuario </span>

			{% endfor %}

			<a href="#">VER MAS</a>

		</div>


		<div>

			<h3>Criticas como Vendedor</h3>

			{% for critique in prestigeLikeSeller %}

				{{ critique.assignment.article.title }}||{{ critique.prestige }}<a href="#">Mas detalles</a>

			{% empty %}

				<span>No hay criticas como vendedor para este usuario</span>

			{% endfor %}

			<a href="#">VER MAS</a>

		</div>


	</div>

</section>

{% endblock %}