{% extends "registration/base.html" %}

{% block section2 %}
<div class="wrapper-div">
  <div class="alert alert-success">
    <h3>Felicidades</h3>
    Tu Cuenta ha sido activada correctamente 
  </div>

  <div>
    <div>
      <a class="margin5" href="/login/">Iniciar Sesión</a>
    </div>

    <p>
      <em>
        Recuerda que cuantoo.com es un sitio para comprar y vender al reves, eso significa que 
        como comprador tendras la posibilidad de elegir a tu vendedor favorito y como vendedor
        podras encontrar miles de personas que ya estan dispuestas a comprar el articulo que vendes.
      </em>
    </p>
  </div>
</div>
{% endblock %}

{% block section3 %}
  {% include "howtodo.html" %}
{% endblock %}


{% include "footer.html" %}




