<!DOCTYPE html>
<html lang="es-MX">
<head>
  <meta charset="UTF-8">
  <title>Activacion Completa</title>
</head>

<body>
  <section>
	<p>
    Has dado de alta tu cuenta correctamente, ya podras iniciar sesion y empezar a disfrutar de una manera al reves de comprar 
    y vender por internet, muchas gracias por formar parte de howmuch.do
	</p>

	<p>
		Es un placer para el equipo de Howmuch.do contar con tu valioso interes en este sitio
	</p>

	<p>
		Howmuch.do es un sitio para comprar y vender articulos de una manera diferente
	</p>

	<a href="/login/">Login</a>

  </section>

		<footer>

            <p>
                <span>
                    El uso de howmuch.do implica que estas de acuerdo con la aceptación de los Términos y Condiciones y de las Políticas de Privacidad 
                </span>

                <span>
                    Copyright © 2012 ALIEN Technology
                </span>
            </p>


        </footer>



</body>
</html>





