{% extends "registration/base.html" %}

{% block media %}
{% include 'django_facebook/_facebook_js.html' %}
{% endblock %}

{% block section1 %}
  {% include "categories.html" %}
{% endblock %}

{% block section2 %}
<div class="wrapper-div3 text-center">
  <!-- 
    <div>
    <form action="{% url facebook_connect %}?facebook_login=1" method="post">
      <a href="javascript:void(0);" style="font-size: 20px;" onclick="F.connect(this.parentNode);">Login with Facebook</a>
      <input type="hidden" value="/" name="next" />
    </form>
  </div>
   -->
  <form class="form-horizontal" action="" method="post">{% csrf_token %}

    <h3>Iniciar Sesión</h3>
  
    <div>
      <legend>Usuario</legend>
      <div>
      {{ form.username }}
      </div>
      <span class="help-text">Tu nombre de usuario</span>
      {{ form.username.errors }}
    </div>

    <div>
      <legend>Contraseña</legend>
      <div>
      {{ form.password }}
      </div>
      <span class="help-text">Tu contraseña actual</span>
      {{ form.password.errors }}
    </div>

    <div class="margin10">
          <input class="btn btn-primary btn-large" type="submit" id="signin" value="Entrar" />
          <a href="/accounts/register">Registrarse</a>
          <input type="hidden" name="next" value="{{ next|escape }}" />
    </div>

  </form>
</div>
{% endblock %}

{% block section3 %}
  {% include "howtodo.html" %}
{% endblock %}


      





