{% extends "3columns.html" %}
{% block title %}

{% endblock %}

{% block media %}

{% endblock %}

{% block section2 %}
<section class="wrapper-div3 text-center" >
<form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
	<h2>Cambiar Contraseña</h2>
	<div>
		<legend>Contraseña Anterior</legend>
		{{ form.old_password }}
		{{ form.old_password.errors }}
	</div>

	<div>
		<legend>Nueva Contraseña</legend>
		{{ form.new_password1 }}
		<span class="help-block">Esta es tu nueva Contraseña</span>
		{{ form.new_password1.errors }}
	</div>

	<div>
		<legend>Repite tu Nueva Contraseña</legend>
		{{ form.new_password2 }}
		<span class="help-block">Esta es tu nueva Contraseña</span>
		{{ form.new_password2.errors }}
	</div>

	<center>
		<input class="btn btn-large btn-success"type="submit" value="Cambiar">
	</center>
</form>
</section>
{% endblock %}