{% extends "registration/base.html" %}

{% block section2 %}
<div class="wrapper-div">
  <div class="alert alert-success">
    <h3>Felicidades</h3>
    Te has registrado correctamente  
  </div>
  <div>
    <p>
      <b>
        <em>
        Muchas Gracias por registrate en cuantoo.com, te enviamos una
        dirección de activación, nuevamente muchas gracias.
        </em>
      </b>
    </p>

    <p>
      <em>
        Recuerda que cuantoo.com es un sitio para comprar y vender al reves, eso significa que 
        como comprador tendras la posibilidad de elegir a tu vendedor favorito y como vendedor
        podras encontrar miles de personas que ya estan dispuestas a comprar el articulo que vendes.
      </em>
    </p>
  </div>

  <div>
    <p> 
      <a class="margin5" href="http://www.hotmail.com">Hotmail</a>
      <a class="margin5" href="http://www.gmail.com">Gmail</a>
      <a class="margin5" href="http://www.yahoo.com">Yahoo</a>
    </p>
  </div>

</div>
{% endblock %}

{% block section3 %}
  {% include "howtodo.html" %}
{% endblock %}


{% include "footer.html" %}




