{% extends "registration/base.html" %}

{% block section1 %}

{% endblock %}

{% block section2 %}
<div class="wrapper-div3 text-center">
	<form class="form-horizontal" action="" method="POST">{% csrf_token %}
		<h2>Registrarse</h2>
    	<div>
    		<legend>Usuario</legend>
    		{{ form.username }}
            <span class="text-help">Tu nombre de usuario</span>
    			{{ form.username.errors }}
    	</div>

    	<div>
    		<legend>Nombres</legend>
    		{{ form.first_name }}
            <span class="text-help">Tus Nombres</span>
            {{ form.first_name.errors }}
    	</div>

    	<div >
    		<legend>Apellidos</legend>
    		{{ form.last_name }}
            <span class="text-help">Tus apellidos</span>
    		{{ form.last_name.errors }}
    	</div>

    	<div >
    		<legend>Correo Electronico</legend>
    		{{ form.email }}
            <span class="text-help">Tu correo electronico</span>
    		{{ form.email.errors }}
    	</div>

    	<div >
    		<legend>Contraseña</legend>
    		{{ form.password1 }}
            <span class="text-help">Escribe una contraseña</span>
    		{{ form.password1.errors }}
    	</div>

    	<div >
    		<legend>Confirma Contraseña</legend>
    		{{ form.password2 }}
            <span class="text-help">Repite tu contraseña</span>
    		{{ form.password2.errors }}
    	</div>

    	<div>
            <legend>Terminos y Condiciones</legend>
            {{ form.tos }}
            <span class="help-block">Acepto los Terminos y Condiciones</span>
			{{ form.tos.errors }}
		</div>	

		<div class="margin10">
			<input class="btn btn-large btn-primary" type="submit" value="Registrarme">
		</div>
	</form>
</div>

{% endblock %}

{% block section3 %}
	{% include "howtodo.html" %}
{% endblock %}



