{% extends "registration/base.html" %}

{% block section1 %}

{% endblock %}

{% block section2 %}
<div class="wrapper-div">
	<form action="" method="POST">{% csrf_token %}
		<h4>Registrate</h4>
			{{ form.username}}
		<div>
			{{ form.first_name}}
		</div>
		<div>
			{{ form.last_name}}
		</div>	
		<div>
			{{ form.email}}
		</div>
		<div>
			{{ form.password1}}
		</div>	
        <div>
			{{ form.password2}}
		</div>	
		<div>
			{{ form.tos}}
			<span>Acepto los Terminos y Condiciones de cuantoo.com</span>
		</div>	
		<div>
			<input class="btn btn-large btn-primary" type="submit" value="Registrarme">
		</div>
	</form>
</div>

{% endblock %}

{% block section3 %}
	{% include "howtodo.html" %}
{% endblock %}

