{% extends "newproffer/base.html" %}

{% block media %}

{% endblock %}


{% block steps %}


	{% load i18n %}

	{% block head %}
		{{ wizard.form.media }}
	{% endblock %}
<section class="GroupItemsForm">

<form action="" method="post">{% csrf_token %}

{{ wizard.management_form }}

<div class="">
<span class="LabelItemForm">Precio</span>
{{ wizard.form.cprice }}
{{ wizard.form.cprice.errors }}
</div>

<div class="">
<span class="LabelItemForm">Mensaje</span>
{{ wizard.form.message }}
{{ wizard.form.message.errors }}
</div>

<div class="">

<input class="button-blue" type="submit" value="{% trans "Continuar" %}"/>

</div>

</form>

</section>


{% endblock %}