{% extends "1columns.html" %}

{% block media %}

{% endblock %}

{% block section1 %}
<section class="wrapper-div background1">
	<div>
		<div class="row-fluid">
			<div class="span2 thumbnail">
				<img src="{{ assignment.article.get_first_picture_url }}">
			</div>
			<div class="span10 text-center">
				<h2>Problema con el articulo {{ assignment.article.title }}</h2>
			</div>
		</div>

		<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
			<div class="text-center">
				<legend>Describe el problema</legend>
				{{ form.description }}	
				<span class="help-block">Redacta el problema en el que te encuentras</span>
				{{ form.description.errors }}
			</div>
			<div class="text-center">
				<input class="btn btn-success btn-large" type="submit" value="Enviar">
			</div>
		</form>
	</div>
</section>
{% endblock %}