{% extends "1columns.html" %}

{% block media %}

{% endblock %}

{% block section1 %}
<section class="wrapper-div3">
	<div class="text-center">
		<h2>Reportar un problema</h2>
	</div>
	<div>
		<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
			<div class="text-center">
				<legend>Selecciona una transacción</legend>
				{{ form.assignment }}
				<span class="help-block">Son operaciones en las que has participado</span>
				{{ form.assignment.errors }}
			</div>
			<div class="text-center">
				<legend>Describe el problema</legend>
				{{ form.description }}	
				<span class="help-block">Redacta el problema en el que te encuentras</span>
				{{ form.description.errors }}
			</div>
			<div class="text-center">
				<input class="btn btn-success btn-large" type="submit" value="Enviar">
			</div>
		</form>
	</div>
</section>
{% endblock %}