{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block media %}

{% endblock %}

{% block content %}
	<section class="wrapper-div">
		<p>
		Has seleccionado a <b>{{ candidate }}</b> para que te venda el articulo <b>{{ article.title }}</b>
		</p>
		<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
			<div>
				{{ form.comment }}
				{{ form.comment.errors }}
			</div>	
			<div style="text-align:center">
				<input class="btn btn-large btn-primary" type="submit" value="Continuar">
			</div>
		</form>
	</section>

{% endblock %}
