{% extends "3columns.html" %}

{% block title %}{% endblock %}

{% block media %}{% endblock %}

{% block search-bar %}
	{% include "search.html" %}
{% endblock %}

{% block section2 %}
<section class="wrapper-div">
	<div class="row-fluid margin10">
		<div class="thumbnail span3">
			<img src="{{ article.get_first_picture_url }}">
		</div>
		<div class="span9">
			<center>
				<h3>Ofertas para tu {{ article.title }}</h3>
			</center>
			<center>
				<p>
					{{ article.description|truncatechars:100}}
				</p>
			</center>
		</div>
	</div>

	<div class="margin10">
            {% for candidate in candidates %}
                <div class="wrapper-div3 hover1">
					<div class="row-fluid">
						<div class="thumbnail span3">
							<a href="/article/offer/view/{{ candidate.pk }}">
								<img src="{{ candidate.get_first_picture_url }}">
							</a>
						</div>
						<div class="span6">
							<div class="text-center">
								<a href="/article/offer/view/{{ candidate.pk }}">
									{{ candidate.message|truncatechars:200}}
								</a>
							</div>
						</div>
						<div class="span3">
							<div class="text-center">
								<div class="wrapper-div4">
									<h4>Te lo venden a</h4>
									<h2 class="font-blue">$ {{ candidate.cprice }}</h2>
									<h3>c/u</h3>
								</div>
								<p>
									<b>hace {{ candidate.get_timestamp }}</b>
								</p>	
							</div>
						</div>
					</div>
				</div>
            {% empty %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Vacio!</h4>
                Aun no tienes candidatos.
            </div>
            {% endfor %}
	</div>
</section>
{% endblock %}



