{% extends "base-modal.html" %}
{% block title %}
{% endblock %}

{% block media %}

{% endblock %}s

{% block content %}

<section class="NewProfferWrapper">

			{% if errors %}
				<ul>
					{% for error in errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>

			{% else %}


			<div>
				<h3>Aplico para Vender el Articulo {{ article.title }}</h3>
			</div>
			
			<form action=""  method="POST" enctype="multipart/form-data">{% csrf_token %}
				<div class="OfferInfo">
					<span>
						Escribe el precio <b>"contraoferta"</b>, es decir el precio al que venderas el articulo: <b>$ {{ article.price }} + Gastos de Envio + Otros</b>, considera envio al <b>C.P {{ article.addressDelivery.zipcode }}</b>
					</span>
					<div>
						{{ form.cprice}}
						{{ form.cprice.errors }}
					</div>
				</div>

					
		

				<div>
					<span>Enviale un mensaje a <b>{{ article.owner }}</b> acerca del producto e informacion complementaria que te seleccione como vendedor </span>
				</div>

				<div>

					{{ form.message}}

					<div class="errorsmessage">
						{{ form.message.errors }}
					</div>
					

				</div>

				<div>
					{{ form.picture1 }}
					{{ form.picture1.errors }}

					{{ form.picture2 }}
					{{ form.picture2.errors }}

					{{ form.picture3 }}
					{{ form.picture3.errors }}

					{{ form.picture4 }}
					{{ form.picture4.errors }}

					{{ form.picture5 }}
					{{ form.picture5.errors }}
				</div>

				<div>
					<div class="ImagePreviewWrapper" onclick="$('#id_picture1').click()">
						<img src="{{ MEDIA_URL }}camera1.png" id="image1" width="100" height="100">
					</div>
					<div class="ImagePreviewWrapper" onclick="$('#id_picture2').click()">
						<img src="{{ MEDIA_URL }}camera1.png" id="image2" width="100" height="100">
					</div>
					<div class="ImagePreviewWrapper" onclick="$('#id_picture3').click()">
						<img src="{{ MEDIA_URL }}camera1.png" id="image3" width="100" height="100">
					</div>
					<div class="ImagePreviewWrapper" onclick="$('#id_picture4').click()">
						<img src="{{ MEDIA_URL }}camera1.png" id="image4" width="100" height="100">
					</div>
					<div class="ImagePreviewWrapper" onclick="$('#id_picture5').click()">
						<img src="{{ MEDIA_URL }}camera1.png" id="image5" width="100" height="100">
					</div>
				</div>
				<div style="text-align:center">
					<input class="button-sell" type="submit" value="VENDERSELO">
				</div>

			</form>

			{% endif %}

	</section>

{% endblock %}

