{% extends "3columns.html" %}

{% block media %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/glisse.css" />
<script src="{{ MEDIA_URL }}js/glisse.js"></script>
<script>
$(function () {
    $('.pics').glisse({
        changeSpeed: 550,
        speed: 500,
        effect:'bounce',
        fullscreen: true,
    });
});
</script>
{% endblock %}

{% block section2 %}
<section class="wrapper-div3">
	<article class="row-fluid margin10">
		<div class="thumbnail span2">
			<img src="{{ offer.article.get_first_picture_url }}">
		</div>
		<div class="span10">
			<center>
				<h3>Mi oferta para el articulo {{ offer.article.title }}</h3>
			</center>
		</div>
	</article>
	<article class="wrapper-div4 margin5">
		<div class="text-center">
			<h2>Pago ${{ offer.cprice}}</h2>
		</div>
	</article>
	<article class="row-fluid">
		<div class="span4">
			<ul class="thumbnails">
				<div class="thumbnail">
    				<img src="{{ offer.get_first_picture_url }}" alt="">
    			</div>
    		</ul>
		</div>

		<div class="span5">
			<p>
				<span><b>Fecha:</b></span>
				<span>{{ offer.date }}</span>
			</p>
			<p>
				<span><b>Usuario:</b></span>
				<a href="/profile/{{ offer.owner }}">{{ offer.owner }}</a>
			</p>

			<p>
				<span><b>Prestigio:</b></span>
				<span>{{ offer.owner.profile.prestige }}</span>
			</p>

			<p>
				<span><b>Total Compras:</b></span>
				<span>{{ offer.owner.profile.total_purchases }}</span>
			</p>

			<p>
				<span><b>Total Ventas:</b></span>
				<span>{{ offer.owner.profile.total_sales }}</span>
			</p>
		</div>

		<div class="span3">
			<div class="thumbnail">
				<a href="/profile/{{ offer.owner }}">
					<img src="{{ offer.owner.profile.get_profile_picture }}">
				</a>
			</div>
		</div>
	</article>

	<article>
		<div class="text-center">
			<h3>Imagenes del Articulo</h3>
		</div>
		<div class="span12">
		{% for picture in offer.pictures.all %}
			<div class="thumbnail span2">
				<img  class="pics" src="{{ picture.picture.url }}" data-glisse-big="{{ picture.picture.url  }}" rel="group1">
			</div>
		{% endfor %}
		</div>
	</article>
	<article>
		<div class="text-center">
			<h3>Descripción de la Oferta</h3>
		</div>
		<div>
			<p>
				{{ offer.message }}
			</p>
		</div>
	</article>
</section>
{% endblock %}