{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block media %}

{% endblock %}

{% block content %}
	<section>
		<p>
		Has seleccionado a <b>{{ candidateUser }}</b> para que te venda el articulo <b>{{ item.title }}</b>, Enviale un mensaje sobre la transaccion.
		</p>
		<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
			<div>
				{{ form.comment }}
				{{ form.comment.errors }}
			</div>	
			<div style="text-align:center">
				<input type="submit" value="SELECCIONAR">
			</div>
		</form>
	</section>

{% endblock %}
