{% extends "3columns.html" %}
{% block title %}
Aplico para Vender el Articulo {{ article.title }}
{% endblock %}

{% block media %}
{% endblock %}

{% block search-bar %}
	{% include "search.html" %}
{% endblock %}

{% block section2 %}
<section>
	{% if form.errors %}
	<div class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
    	<h4>Error</h4>
    	Favor de llenar correctamente el formulario, solo numeros enteros y sube al menos la primer imagen.
    </div>
    {% endif %}

	{% if not errors %}
	<form action=""  method="POST" enctype="multipart/form-data">{% csrf_token %}
		<div class="wrapper-div">
			<div class="row-fluid margin10">
				<div class="thumbnail span2">
					<img src="{{ article.get_first_picture_url }}">
				</div>
				<div class="span7 text-center">
					<h3>Tu oferta para {{ article.title }}</h3>
					<p>
					{{ article.description|truncatechars:100}}
					</p>
				</div>
				<div class="span3 text-center background3">
					<h4>Pagan</h4>
					<h2>$ {{ article.price }}</h2>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span6">
					<legend>Precio de Venta</legend>
					<div class="input-prepend input-append">
						<span class="add-on">$</i></span>
						{{ form.cprice }}
						<span class="add-on">.00</span>
					</div>
					{{ form.cprice.errors }}
					<span class="help-block">Precio al que venderas el articulo</span>
				</div>

				<div class="span6">
					<legend>Cantidad de Articulos</legend>
					<div class="input-prepend input-append">
						<span class="add-on"><i class="icon-resize-small"></i></span>
						{{ form.quantity }}
						<span class="add-on">.00</span>
					</div>
					{{ form.quantity.errors }}
					<span class="help-block">El comprador quiere {{ article.quantity }} articulos, pero puedes ofrecerle menos</span>
				</div>
			</div>
		</div>

		<div class="wrapper-div">
			<legend>Sube Imagenes del Articulo que estas Vendiendo</legend>
			<div>
			{{ form.picture1}}
			</div>

			<div>
			{{ form.picture2}}
			</div>

			<div>
			{{ form.picture3}}
			</div>

			<div>
			{{ form.picture4}}
			</div>

			<div>
			{{ form.picture5}}
			</div>


			<div class="image-preview-wrapper" onclick="$('#id_picture1').click()">
				<img src="{{ MEDIA_URL }}img/camera1.png" id="image1" width="100" height="100">
			</div>
			<div class="image-preview-wrapper" onclick="$('#id_picture2').click()">
				<img src="{{ MEDIA_URL }}img/camera1.png" id="image2" width="100" height="100">
			</div>
			<div class="image-preview-wrapper" onclick="$('#id_picture3').click()">
				<img src="{{ MEDIA_URL }}img/camera1.png" id="image3" width="100" height="100">
			</div>
			<div class="image-preview-wrapper" onclick="$('#id_picture4').click()">
				<img src="{{ MEDIA_URL }}img/camera1.png" id="image4" width="100" height="100">
			</div>
			<div class="image-preview-wrapper" onclick="$('#id_picture5').click()">
				<img src="{{ MEDIA_URL }}img/camera1.png" id="image5" width="100" height="100">
			</div>

			<span class="help-block">Click en el cuadro para subir imagen</span>
			
		</div>

		<div class="wrapper-div text-center">
			<legend>Agrega una breve Descripcion de tu Articulo</legend>
			{{ form.message }}
			<input class="btn btn-large btn-success" type="submit" value="Venderselo">
		</div>


	{% else %}
	{{errors}}
	{% endif %}
</section>
{% endblock %}

