{% extends "3columns.html" %}

{% block title %}{% endblock %}

{% block facebooktags %}
<meta property="og:title" content="Pagan ${{ article.price }} por {{ article.title}}"/>
<meta property="og:type" content="Ecommerce"/>
<meta property="og:url" content="http://www.howmuch.do{{ article.get_url }}"/>
<meta property="og:image" content=""/>
<meta property="og:site_name" content="howmuch"/>
<meta property="og:description"
    content="{{ article.description|truncatechars:100}}"/>
{% endblock %}

{% block media %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/glisse.css" />
<script src="{{ MEDIA_URL }}js/glisse.js"></script>
<script>
$(function () {
    $('.pics').glisse({
        changeSpeed: 550,
        speed: 500,
        effect:'bounce',
        fullscreen: true,
    });
});
</script>
<script type="text/javascript">
$(document).on('ready', function(){

	$('#comments-form').submit(function(e){
		e.preventDefault();
		$.post('/comments/post/{{ article.pk }}/', 
			$('#comments-form').serialize(),
			function(data){
				$('.comments-area').append(data);
				$('#comments-form')[0].reset();
			});
	});

	$('.unfollow').click(function(e){
		e.preventDefault()
		$.getJSON('/profile/e/follow/{{ article.pk }}', function(json){
		});
	});

	$('.follow').click(function(e){
		e.preventDefault();
		$.getJSON('/profile/e/unfollow/{{ article.pk }}', function(json){
		});
	});
});
</script>
{% endblock %}

{% block search-bar %}
	{% include "search.html" %}
{% endblock %}

{% block section1 %}
	{% include "categories.html" %}
{% endblock %}

{% block section2 %}
<section class="wrapper-div">
	<article>
	{% if new_post %}
	<div class="alert alert-success">
    	<button type="button" class="close" data-dismiss="alert">&times;</button>
    	<h4>Felicidades!</h4>
    	Acabas de Publicar correctamente tu Compra
    </div>
	{% endif %}
	{% if article.owner == user %}
    <div class="alert alert-block">
    	<button type="button" class="close" data-dismiss="alert">&times;</button>
    	Esta Es Tu Publicación <a href="{{ article.get_url }}/edit">Editar</a>
    </div>
	{% endif %}

	{% if not article.is_active %}
	<div class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
    	Esta Publicación Ha Finalizado <a href="/article/post">Publicar una Compra</a>
    </div>
	{% endif %}
	</article>

	<article>
		<p>
			Publicado <b>hace {{ article.date|timesince }}</b> por <a href="/profile/{{ article.owner }}">{{ article.owner }}</a> 
		</p>
	</article>

	<article class="row-fluid">
		<div class="span4">
    		<img src="{{ article.get_first_picture_250x250 }}" alt="">
    	</div>
   
	
		<div class="span8">
			<h2>{{ article.title }}</h2>
			<center>
				<a class="btn btn-primary btn-large" href="/article/offer/{{ article.pk }}">Venderselo</a>
				<a id="btn-follow" class="btn btn-large btn-success unfollow" href="#">Seguir</a>
				<a id="btn-follow" class="btn btn-large btn-success follow" href="#">Siguiendo</a>
			</center>
		</div>
	</article>

	<article>
		<div class="ItemPictures">
		{% for picture in article.pictures.all %}
			<img width="100" height="100" class="pics" src="{{ picture.get_url_100x100 }}" data-glisse-big="{{ picture.picture.url }}" rel="group1"/>
		{% endfor%}
		</div>
	</article>

	<div class="fb-like" data-href="http://www.howmuch.do{{ article.get_url }}" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true" data-font="arial">
	</div>

	<article>
	<!--  Pictures -->
	</article>

	<article>
		<h4>Palabras clave</h4>
		{% for tag in article.tags.all %}
		<a class="btn btn-info" href="#">{{ tag }}</a>
		{% endfor %}
	</article>

	<article>
		<h4>Descripcion de la compra</h4>
		<p>{{ article.description }}</p>
	</article>
</section>

<!-- Comments Area -->
<section class="wrapper-div">
<h4>Dudas del Articulo</h4>
	<div class="comments-area">
		{% for comment in article.comments.all %}
			<div class="wrapper-div row">
				<div class="span1">
					<img src="{{ comment.owner.profile.get_profile_picture_50x50 }}">
				</div>
				<div class="span9">
					<p>	
						{{ comment.comment }}
					</p>
				</div>
				<div>
					<b>
						hace {{ comment.get_timestamp }}
					</b>
				</div>
			</div>
		{% endfor %}
	</div>
	{% if user.is_authenticated %}
	<div>
		<form id="comments-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
			<input class="span12" type="text" id="comment" name="comment" placeholder="Escribe una duda...">
		</form>
	</div>
	{% else %}
	<div>
		<p>
			<span>Para poder comentar debes iniciar sesión</span>
			<a href="/login/">Iniciar Sesión</a>
		</p>
	</div>
	{% endif %}
</section>
{% endblock %}

{% block section3 %}
	{% include "howtodo.html" %}
{% endblock %}




