{% extends "3columns.html" %}

{% block media_js %}
<script src="{{ MEDIA_URL }}js/glisse.js"></script>
<script>
$(function () {
    $('.pics').glisse({
        changeSpeed: 550,
        speed: 500,
        effect:'bounce',
        fullscreen: true,
    });
});
</script>
{% endblock %}

{% block media_css %}
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/glisse.css" />
{% endblock %}

{% block section1 %}
	{% include "categories2.html" %}
{% endblock %}

{% block section2 %}
				<div class="content padding-1_5em">
					<div class="head">
						<div class="info margin-bottom-1em">
							<h1 class="font-size-1_5em">Oferta</h1>
							<div class="description">
								Oferta para el articulo {{ offer.article.title }}
							</div>
						</div>
					</div>
					<!-- START CONTENT -->
					<div class="border">
						<div class="padding-1em">
							<!-- TOP INFO -->
							<div class="top-info group">
								<div class="width-30 float-left">
									<div class="padding-1em">
										<img class="width-90 padding-0_5em border" src="{{ offer.article.get_first_picture_url }}" />
									</div>
								</div>
								<div class="width-70 float-right">
									<div class="padding-1em">
										<div class="offer-title font-size-1_5em strong">
											{{ offer.article.title|title }}
										</div>
										<!-- DIVISION --><hr />
										
										<div class="what-i-pay font-size-1_25em text-align-center border">
											<div class="padding-1em">
												<div class="attention strong">Te lo venden en</div>
												<div>$ {{ offer.cprice }} MXN</div>
											</div>
											<!-- BUY -->
											<div class="margin-1em text-align-center">
												<a class="green button" href="/article/assignment/{{ offer.article.pk }}/{{ offer.owner.pk }}">Comprar</a>
											</div>
											
										</div>
										
										<!-- DIVISION --><hr />
										
										<div class="me-offering-info">
											<div class="me-offering-date group margin-bottom-1em">
												<div class="width-40 float-left strong">Realizada en</div>
												<div class="width-80 float-left">{{ offer.date }}</div>
											</div>
											<div class="me-offering-date group margin-bottom-1em">
												<div class="width-40 float-left strong">Usuario</div>
												<div class="width-80 float-left">
													<a class="attention" href="/profile/{{ offer.owner }}">{{ offer.owner }}</a>
												</div>
											</div>
											<div class="me-offering-date group margin-bottom-1em">
												<div class="width-40 float-left strong">Prestigio</div>
												<div class="width-80 float-left">{{ offer.owner.profile.prestige }}</div>
											</div>
											<div class="me-offering-date group margin-bottom-1em">
												<div class="width-40 float-left strong">Total de compras</div>
												<div class="width-80 float-left">{{ offer.owner.profile.total_purchases }}</div>
											</div>
											<div class="me-offering-date group margin-bottom-1em">
												<div class="width-40 float-left strong">Total de ventas</div>
												<div class="width-80 float-left">{{ offer.owner.profile.total_sales }}</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- DIVISION --><hr />
							
							<!-- ENDS TOP INFO -->
							
							<!-- LAST INFO -->
							<div class="me-offering-images group">
								<div class="font-size-1_25em strong margin-bottom-0_5em text-align-center">
									Más imágenes del artículo
								</div>
								<!-- ENUM IMAGES -->
								{% for picture in offer.pictures.all %}
								<div class="width-20 float-left text-align-center">
									<div class="padding-1em">
										<img class="width-90 padding-0_5em border" src="{{ picture.picture.url }}" />
									</div>
								</div>
								{% endfor %}
								<!-- END ENUM IMAGES -->
							</div>
							
							<!-- DIVISION --><hr />
							<div class="me-offering-description margin-bottom-1em">
								<div class="font-size-1_25em strong margin-bottom-0_5em text-align-center">
									Descripción
								</div>
								<div class="margin-top-1em">
									<span class="attention">&laquo;</span>
									<span>
										{{ offer.message }}
									</span>
									<span class="attention">&raquo;</span>
								</div>
							</div>
							
							<!-- ENDS LAST INFO -->
						</div>
					</div>
					<!-- ENDS CONTENT -->
				</div>
{% endblock %}

{% block section3 %}
	{% include "howtodo.html" %}
{% endblock %}