{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block facebooktags %}

<meta property="og:title" content="Pagan ${{ item.price }} por {{ item.title}}"/>
<meta property="og:type" content="Ecommerce"/>
<meta property="og:url" content="http://www.howmuch.do{{ item.get_url }}"/>
<meta property="og:image" content=""/>
<meta property="og:site_name" content="howmuch"/>
<meta property="og:description"
    content="{{ item.description|truncatechars:100}}"/>

{% endblock %}

{% block media %}

{% endblock %}

{% block content %}

<section>

	<article>

	{% if item.owner == user %}

	<div>
		<div>
			<p>Esta Es Tu Publicación</p>
		</div>
		<div>
			<a href="#">Editar</a>
		</div>
	</div>

	{% endif %}

	{% if item.has_assignment %}
	<div>
		<div>
			<p>Esta Publicación Ha Finalizado</p>
		</div>
		<div>
			<a href="/article/post">Comprar un articulo</a>
		</div>
	</div>
	{% endif %}


	</article>

	<article>
		<span>Para ser enviado al <b> C.P {{ item.addressDelivery.zipcode }},</b></span>
		<span>Publicado <b>hace {{ item.date|timesince }}</b> por <a href="#">{{ item.owner }}</a></span>
	</article>

	<article>
		<div>
					
			<div>
				<b><span>{{ item.state }}</span></b>
				<b><span>$ {{ item.price }}</span></b>
			</div>

		</div>

		<div>

			<span>Pagan ${{ item.price }} por {{ item.title }}</span>


			<div>
				<div>
					<a href="/article/offer/{{ item.pk }}">VENDER</a>
				</div>
				<div class="fb-like" data-href="http://www.howmuch.do{{ item.get_url }}" data-send="true" data-layout="box_count" data-width="450" data-show-faces="true" data-font="arial"></div>
			</div>
		</div>

		
	</article>

	<div>
		<p>{{ item.description }}</p>
	</div>

	<div>
		<a href="/article/offer/{{ item.pk }}">VENDER</a>
	</div>

</section>

{% endblock %}


