{% extends "3columns.html" %}

{% block title %}{% endblock %}

{% block facebooktags %}
<meta property="og:title" content="Pagan ${{ article.price }} por {{ article.title}}"/>
<meta property="og:type" content="Ecommerce"/>
<meta property="og:url" content="http://www.howmuch.do{{ article.get_url }}"/>
<meta property="og:image" content=""/>
<meta property="og:site_name" content="howmuch"/>
<meta property="og:description"
    content="{{ article.description|truncatechars:100}}"/>
{% endblock %}

{% block media %}{% endblock %}

{% block section2 %}
<section class="wrapper-div">
	<article>
	{% if new_post %}
	<div class="alert alert-success">
    	<button type="button" class="close" data-dismiss="alert">&times;</button>
    	<h4>Felicidades!</h4>
    	Acabas de Publicar correctamente tu Compra
    </div>
	{% endif %}
	{% if article.owner == user %}
    <div class="alert alert-block">
    	<button type="button" class="close" data-dismiss="alert">&times;</button>
    	Esta Es Tu Publicación <a href="{{ article.get_url }}/edit">Editar</a>
    </div>
	{% endif %}

	{% if article.has_assignment %}
	<div class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
    	Esta Publicación Ha Finalizado <a href="/article/post">Publicar una Compra</a>
    </div>
	{% endif %}
	</article>

	<article>
		<p>
			Publicado <b>hace {{ article.date|timesince }}</b> por <a href="/profile/{{ article.owner }}">{{ article.owner }}</a> 
			con envio al <b> C.P {{ article.addressDelivery.zipcode }}</b>
		</p>
	</article>

	<article class="btn btn-success">
		{{ article.category|upper }}
	</article>

	<article>
		<h2>Compro {{ article.title }} por ${{ article.price }}</h2>
	</article>

	<div class="fb-like" data-href="http://www.howmuch.do{{ article.get_url }}" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true" data-font="arial">
	</div>

	<article>
	<!--  Pictures -->
	</article>

	<article>
		<p>{{ article.description }}</p>
	</article>

	<article>
		<center>
			<a class="btn btn-primary btn-large" href="/article/offer/{{ article.pk }}">Venderselo</a>
		</center>
	</article>
	
</section>

<section class="wrapper-div">
<!-- Comments Area -->
</section>
{% endblock %}




