{% extends "1columns.html" %}
{% block media %}
<script type="text/javascript">
$(document).on('ready', function(){
	$('#tab-invoice a').click(function (e) {
    	e.preventDefault();
    	$(this).tab('show');
    });
});
</script>
{% endblock %}
{% block section1 %}
		<div class="wrapper-div">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Fecha</th>
						<th>Concepto</th>
						<th>Precio</th>
						<th>Comisíon</th>
					</tr>
				</thead>
				<tbody>
					{% for charge in current_invoice.charges.all %}
					<tr>
						<th>{{ forloop.counter }}</th>
						<th>{{ charge.date }}</th>
						<th>{{ charge.assignment.article.title }}</th>
						<th>{{ charge.price }}</th>
						<th>{{ charge.commission }}</th>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<legend>Total a pagar $ {{ current_invoice.total }}</legend>
			<a class="btn btn-large btn-success" href="#">Pagar Ahora</a>
		</div>
{% endblock %}