{% extends "base.html" %}
{% block title %}

{% endblock %}

{% block media %}
<link href='http://fonts.googleapis.com/css?family=Actor|Muli|Istok+Web' rel='stylesheet' type='text/css' />
{% endblock %}

{% block content %}

<section class="InboxWrapper">

	{% for conversation in conversations %}

		{% if conversation.has_unread_messages %}

			{% if conversation.assignment.owner == user %} 

				{% if conversation.getNumber_unread_messages_seller > 0 %}

				<article class="InboxMessageWrapper InboxUnchecked">

				
					<b><span class="NumberMessagesUnread">({{ conversation.getNumber_unread_messages_seller }})</span></b>
	

				{% else %}
					
				<article class="InboxMessageWrapper">

				{% endif %}

			{% else %}

			{% if conversation.assignment.requestItem.owner == user %}

				{% if conversation.getNumber_unread_messages_buyer > 0%}

				<article class="InboxMessageWrapper InboxUnchecked">

					
					<b><span class="NumberMessagesUnread">({{ conversation.getNumber_unread_messages_buyer }})</span></b>
			
					
				{% else %}

				<article class="InboxMessageWrapper">

				{% endif %}

			{% endif %}{% endif %}

		{% else %}
				<article class="InboxMessageWrapper">
		{% endif %}

	
					<div class="InboxMessagePicture">
						<img src="{{ conversation.assignment.requestItem.get_first_picture_100x100 }}" width="50" height="50">
					</div>

					<div class="InboxMessageContent">
						<span><a href="/messages/{{ conversation.pk }}">{{ conversation.assignment.requestItem.title }}</a></span></br>
						<span>{{ conversation.get_latest_message.message }}</span></br>
						<div class="MessageTimestampWrapper">
							<span class="ConversationTimestamp">hace {{ conversation.get_latest_message.get_timestamp }}</span>
						</div>
				
					</div>
				</article>

	{% endfor %}

	
</section>



{% endblock %}