{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block style %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<section>

	{% if not errors %}
	<h3>Confirmacíon de Pago</h3>
	<div>

		<p>{{ confirmPay.message }}</p>

	</div>

	<div>
		<div>
			<img src="{{ confirmPay.get_picture_url_100x100 }}">
		</div>

		<div>
			<p>{{ confirmPay.date|timesince }}</p>
		</div>
	</div>

	{% else %}
	<p>No tienes permiso para ver esta informacion</p>
	{% endif %}
</section>
{% endblock %}