{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block style %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<section>

	{% if not errors %}

	<div>
		<div>
			<img src="{{ buyer.profile.get_profile_picture_100x100 }}">
		</div>
	</div>
	<div>
		<div>
			<h3>Información del Comprador</h3>
			<p>
				<span>Total de Compras: </span>
				<span >{{ buyer.profile.total_purchases }}</span>
				<a href="#">Ver Criticas</a>
			</p>
			<p>
				<span >Total de Ventas:</span>
				<span>{{ buyer.profile.total_sales }}</span>	
				<a href="#">Ver Criticas</a>		
			</p>
			<p>
				<span >Usuario:</span>
				<span>{{ buyer }}</span>
			</p>
			<p>
				<span >Nombre:</span>
				<span>{{ buyer.get_full_name }}</span>
			</p>
			<p>
				<span >Email:</span>
				<span>{{ buyer.email }}</span>
			</p>
			<p>
				<span >Telefonos:</span>
				{% for phone in buyer.profile.phones.all %}
				<div>{{ phone }}</div>
				{% empty %}
				<span>No se han registrado Telefonos</span>
				{% endfor %}
			</p>
		</div>
		<div>
			<h3>Direccíon de Envio</h3>
			<p>{{ conversation.assignment.article.addressDelivery|title }}</p>
		</div>
	</div>

	{% else %}
	<p>No tienes permiso para ver esta informacion</p>
	{% endif %}
</section>
{% endblock %}