{% extends "3columns.html" %}
{% block title %}{% endblock %}

{% block section2 %}
<section class="wrapper-div">
	{% if not errors %}
	<div>
		<div>
			<h2>Confirmacion de ENVIO del articulo {{ pay.assignment.article.title }}</h2>
			<p>{{ delivery.date }}</p>
		</div>
		<div>
			<legend>Mensaje del Vendedor:</legend>
			<div>
				<p>{{ delivery.message }}</p>
			</div>
		</div>
		<div class="text-center">
			<a class="btn btn-success btn-large" href="{{ delivery.assignment.conversation.get_url }}">Aceptar</a>
		</div>
	</div>
	{% else %}
	<div class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4>Lo siento!</h4>
    	Aun no hay información Disponible, intenta mas tarde.
    </div>
    <div class="text-center">
		<a class="btn btn-success btn-large" href="{{ url }}">Aceptar</a>
	</div>
	{% endif %}

</section>
{% endblock %}