{% extends "3columns.html" %}

{% block title %}{{ seller.get_full_name }} {% endblock %}

{% block section1 %}
	{% include "categories2.html" %}
{% endblock %}

{% block section2 %}
				<div class="content padding-1_5em">
					{% if not errors %}
					<!-- STARTS CONTENT -->
					<div class="head">
						<div class="info margin-bottom-1em">
							<h1 class="font-size-1_5em">Información del Vendedor</h1>
							<div class="description">
								Aquí puedes consultar la información de {{ seller }}.
							</div>
						</div>
					</div>
					<div class="border">
						<div class="padding-1em text-align-center">
							<!-- USERNAME -->
							<div class="big-user-name margin-1em">
								<div class="font-size-1_5em strong">{{ seller.get_full_name }}</div>
								<div class="font-size-1_25em">{{ seller }}</div>
							</div>
							
							<!-- DIVISION --><hr/>
							
							<!-- USER IMAGE -->
							<div class="text-align-center">
								<img class="width-40 border padding-0_5em" src="{{ seller.profile.profile_picture.url }}" />
							</div>
							
							<!-- DIVISION --><hr/>
							
							<!-- PRESTIGIO -->
							<div class="font-size-1_25em">
								<div>Prestigio</div>
								<div class="font-size-1_25em strong">{{ seller.profile.prestige }}</div>
							</div>
							<!-- ENDS PRESTIGIO -->
							<!-- STARTS PUNTOS -->
							<div class="group font-size-1_5em">
								<div class="float-left width-50">
									<div class="padding-1em">
										<div class="border">
											<div class="strong margin-top-1em">
												Puntos positivos
											</div>
											<div class="margin-bottom-1em">
												{{ seller.profile.positive_points }}
											</div>
										</div>
									</div>
								</div>
								<div class="float-right width-50">
									<div class="padding-1em">
										<div class="border">
											<div class="strong margin-top-1em">
												Puntos negativos
											</div>
											<div class="margin-bottom-1em">
												{{ seller.profile.negative_points }}
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- ENDS PUNTOS -->
							
							<!-- DIVISION --><hr />
							
							<!-- INFORMACIÓN -->
							<div class="font-size-1_25em">
								<div class="strong">Información</div>
							</div>
							<!-- ENDS PRESTIGIO -->
							<!-- STARTS PUNTOS -->
							<div class="group">
								<div class="float-left width-50">
									<div class="padding-1em">
										<div class="border">
											<div class="font-size-1_5em">
												<div class="strong margin-top-1em">
													Total de Compras
												</div>
												<div class="margin-bottom-1em">
													{{ seller.profile.total_purchases }}
												</div>
											</div>
											<div class="margin-bottom-1em">
												<a class="attention" href="/prestige/critiques/{{ seller }}">Ver críticas</a>
											</div>
										</div>
									</div>
								</div>
								<div class="float-right width-50">
									<div class="padding-1em">
										<div class="border">
											<div class="font-size-1_5em">
												<div class="strong margin-top-1em">
													Total de Ventas
												</div>
												<div class="margin-bottom-1em">
													{{ seller.profile.total_sales }}
												</div>
											</div>
											<div class="margin-bottom-1em">
												<a class="attention" href="/prestige/critiques/{{ seller }}">Ver críticas</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- ENDS PUNTOS -->
							<!-- DIVISION --><hr />
							<!-- INFORMACIÓN -->
							<div class="font-size-1_25em margin-1em">
								<div class="strong">Contacto</div>
							</div>
										<div class="me-offering-info" style="text-align:left">
											<div class="me-offering-date group margin-bottom-1em">
												<div class="width-40 float-left strong">Email</div>
												<div class="width-80 float-left">{{ seller.email }}</div>
											</div>
											<div class="me-offering-date group margin-bottom-1em">
												<div class="width-40 float-left strong">Telefonos</div>
												{% for phone in seller.profile.phones.all %}
												<div class="width-80 float-left">{{ phone }}</div>
												{% empty %}
												<div class="width-80 float-left">Sin Telefonos</div>
												{% endfor %}
											</div>
											<div class="me-offering-date group margin-bottom-1em">
												<div class="width-40 float-left strong">Cuentas Bancarias</div>
												{% for account in seller.profile.banks.all %}
												<div class="width-80 float-left">{{ account }}</div>
												{% empty %}
												<div class="width-80 float-left">Sin Cuentas Bancarias</div>
												{% endfor %}
											</div>
										</div>
						</div>
						<div class="division margin-1em text-align-center">
							<a class="button green" href="#">Aceptar</a>
						</div>
					</div>
					<!-- ENDS CONTENT -->
					{% else %}
					<div class="notification error borders">
						<div class="strong">
							Sin permiso
						</div>
						<div>
							No tienes permiso para ver esta información.
						</div>
					</div>
					{% endif %}
				</div>
{% endblock %}

{% block section3 %}
	{% include "howtodo.html" %}
{% endblock %}