{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block style %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<section>

	{% if not errors %}

	<div>
		<div>
			<img src="{{ seller.profile.get_profile_picture_100x100 }}">
	</div>
	<div>
		<div>
			<h3>Información del Vendedor</h3>
			<p>
				<span >Total de Compras:</span>
				<span>{{ seller.profile.total_purchases }}</span>
				<a href="#">Ver Criticas</a>
			</p>
			<p>
				<span >Total de Ventas:</span>
				<span>{{ seller.profile.total_sales }}</span>	
				<a href="#">Ver Criticas</a>		
			</p>
			<p>
				<span >Usuario:</span>
				<span>{{ seller }}</span>
			</p>
			<p>
				<span >Nombre:</span>
				<span>{{ seller.get_full_name }}</span>
			</p>
			<p>
				<span >Email:</span>
				<span>{{ seller.email }}</span>
			</p>
			<p>
				<span >Telefonos:</span>
				{% for phone in seller.profile.phones.all %}
				<span>{{ phone }}</span>
				{% empty %}
				<span>No se han registrado Telefonos</span>
				{% endfor %}
			</p>
		</div>
		<div>
			<h3>Datos de Deposito Bancario</h3>
			{% for account in seller.profile.banks.all %}
				<div>{{ account }}</div>
			{% empty %}
				<span>Este usuario aun no registra sus datos bancarios</span>
			{% endfor %}
		</div>
	</div>

	{% else %}

	<p>No tienes permiso para ver esta informacion</p>

	{% endif %}
</section>
{% endblock %}