{% extends "3columns.html" %}

{% block title %}{% endblock %}

{% block section2 %}
<section class="wrapper-div3">
	{% if not errors %}
	<div>
		<div class="text-center">
			<h2>Información del Comprador</h2>
		</div>
		<div class="row-fluid">
			<div class="span3 thumbnail">
				<img src="{{ buyer.profile.profile_picture.url }}">
			</div>
			<div class="span8">
				<legend>{{ buyer.get_full_name }}  ({{ buyer }})</legend>
			</div>
		</div>
		<div class="text-center">
			<h3>Prestigio</h3>
			<h2>{{ buyer.profile.prestige }}</h2>
		</div>
		<div>
			<h1>{{ buyer.prestige }}</h1>
			<div class="row-fluid text-center">
				<div class="span6 wrapper-div4">
					<h3>Puntos Positivos</h3>
					<h4>{{ buyer.profile.positive_points }}</h4>
				</div>
				<div class="span6 wrapper-div4">
					<h3>Puntos Negativos</h3>
					<h4>{{ buyer.profile.negative_points }}</h4>
				</div>	
			</div>
		</div>
		<div class="text-center">
			<h3>Información</h3>
		</div>
		<div class="row-fluid text-center">
			<div class="span6 wrapper-div4">
				<h3>Total de Compras</h3>
				<h4>{{ buyer.profile.total_purchases }}</h4>
				<a href="/prestige/critiques/{{ buyer }}">Ver Criticas</a>
			</div>
			<div class="span6 wrapper-div4">
				<h3>Total de Ventas</h3>
				<h4>{{ buyer.profile.total_sales }}</h4>
				<a href="/prestige/critiques/{{ buyer }}">Ver Criticas</a>
			</div>
		</div>
		<div class="text-center margin10">
			<div>
				<b>Email:</b>
				<p>{{ buyer.email }}</p>
			</div>
			<div>
				<b>Telefonos:</b>
				{% for phone in buyer.profile.phones.all %}
					<p>{{ phone }}</p>
				{% empty %}
					<p>No se han registrado Telefonos</p>
				{% endfor %}
			</div>
		</div>
	</div>
	{% else %}
	<p>No tienes permiso para ver esta informacion</p>
	{% endif %}
</section>
{% endblock %}