{% extends "3columns.html" %}

{% block title %}{% endblock %}

{% block section2 %}
<section>
	{% if not errors %}
	<div class="wrapper-div">
		<h2>Vendedor</h2>
		<div class="row-fluid">
			<div class="span3 thumbnail">
				<img src="{{ seller.profile.profile_picture.url }}">
			</div>
			<div class="span8">
				<legend>{{ seller.get_full_name }}  ({{ seller }})</legend>
			</div>
		</div>
		<legend>Prestigio</legend>
		<div>
			<h1>{{ seller.profile.prestige }}</h1>
		</div>
		<legend>Información</legend>
		<div class="row-fluid">
			<div class="span6">
				<p>
					<b>Total de Compras:</b>
					{{ seller.profile.total_purchases }}
				</p>
				<p>
					<a href="/prestige/critiques/{{ seller }}">Ver Criticas</a>
				</p>
			</div>
			<div class="span6">
				<p>
					<b>Total de Ventas:</b>
					{{ seller.profile.total_sales }}
				</p>
				<p>
					<a href="/prestige/critiques/{{ seller }}">Ver Criticas</a>
				</p>
			</div>
		</div>
		<div>
			<div>
				<b>Email:</b>
				<p>{{ seller.email }}</p>
			</div>
			<div>
				<b>Telefonos:</b>
				{% for phone in seller.profile.phones.all %}
					<p>{{ phone }}</p>
				{% empty %}
					<p>No se han registrado Telefonos</p>
				{% endfor %}
			</div>
			<div>
				<b>Cuentas Bancarias:</b>
				{% for account in seller.profile.banks.all %}
					<p>{{ account }}</p>
				{% empty %}
					<p>No se han registrado Cuentas Bancarias</p>
				{% endfor %}
			</div>
		</div>
	</div>
	{% else %}
	<p>No tienes permiso para ver esta informacion</p>
	{% endif %}
</section>
{% endblock %}