{% extends "3columns.html" %}

{% block title %}{% endblock %}

{% block section2 %}
<section>
	{% if not errors %}
	<div class="wrapper-div">
		<h2>Comprador</h2>
		<div class="row-fluid">
			<div class="span3 thumbnail">
				<img src="{{ buyer.profile.profile_picture.url }}">
			</div>
			<div class="span8">
				<legend>{{ buyer.get_full_name }}  ({{ buyer }})</legend>
			</div>
		</div>
		<legend>Prestigio</legend>
		<div>
			<h1>{{ buyer.profile.prestige }}</h1>
		</div>
		<legend>Información</legend>
		<div class="row-fluid">
			<div class="span6">
				<p>
					<b>Total de Compras:</b>
					{{ buyer.profile.total_purchases }}
				</p>
				<p>
					<a href="/prestige/critiques/{{ buyer }}">Ver Criticas</a>
				</p>
			</div>
			<div class="span6">
				<p>
					<b>Total de Ventas:</b>
					{{ buyer.profile.total_sales }}
				</p>
				<p>
					<a href="/prestige/critiques/{{ buyer }}">Ver Criticas</a>
				</p>
			</div>
		</div>
		<div>
			<div>
				<b>Email:</b>
				<p>{{ buyer.email }}</p>
			</div>
			<div>
				<b>Telefonos:</b>
				{% for phone in buyer.profile.phones.all %}
					<p>{{ phone }}</p>
				{% empty %}
					<p>No se han registrado Telefonos</p>
				{% endfor %}
			</div>
			<div>
				<b>Dirección de Envio:</b>
				<p>{{ conversation.assignment.article.addressDelivery|title }}</p>
			</div>
		</div>
	</div>
	{% else %}
	<p>No tienes permiso para ver esta informacion</p>
	{% endif %}
</section>
{% endblock %}