{% extends "base.html" %}

{% block title %}{% endblock %}

{% block media %}

{% endblock %}

{% block content %}

<section>

{% for group in notifications_result %}

<section class="wrapper-div">

	<div>{{ group.title }}</div>

	{% for notification in group.notifications %}

	{% if not notification.has_been_readed %}

	<article>

	{% else %}

	<article>

	{% endif %}
		<div>

			<a href="{{notification.get_url}}">{{ notification.title }}</a>

		</div>

		<div>

			<span><b>hace {{ notification.get_timestamp }}</b></span>

		</div>

	</article>


	{% endfor %}

</section>

{% empty %}

<h4>Aun no tienes notificaciones</h4>

{% endfor %}

</section>

{% endblock %}