<section class="wrapper-div3">
	<div class="row-fluid">
		<div class="thumbnail span3">
    		<img src="{{ group.article.get_first_picture_url }}" alt="">
    	</div>
    	<div class="span9">
    		<center>
    			<h3>{{ group.article.title }}</h3>
    		</center>
    	</div>
	</div>
	{% for notification in group.notifications %}
	{% if not notification.has_been_readed %}
	<article class="margin10 color1">
	{% else %}
	<article class="margin10">
	{% endif %}
		<div class="row-fluid margin5">
			<div class="span9">
				<a class="a-title" href="{{ notification.get_url }}">{{ notification.title }}</a>
			</div>
			<div>
				<span><b>hace {{ notification.get_timestamp }}</b></span>
			</div>
		</div>
	</article>
	{% endfor %}
</section>
