{% extends "base.html" %}

{% block title %}{% endblock %}

{% block media %}

{% endblock %}

{% block content %}

<section class="NotificationsWrapper">

{% for group in notifications_result %}

<section>

	<div>{{ group.title }}</div>

	{% for notification in group.notifications %}

	{% if not notification.has_been_readed %}

	<article class="NotificationContainer NotificationUnread">

	{% else %}

	<article class="NotificationContainer">

	{% endif %}

		{% if notification.tipo == 'proffer' %}
		<div class="NotificationPicture NotificationProffer">
		{% else %}
		{% if notification.tipo == 'assignment' %}
		<div class="NotificationPicture NotificationAssignment">
		{% else %}
		{% if notification.tipo == 'confirm_pay' %} 
		<div class="NotificationPicture NotificationConfirmPay">
		{% else %}
		{% if notification.tipo == 'confirm_delivery' %} 
		<div class="NotificationPicture NotificationConfirmDelivery">
		{% else %}
		{% if notification.tipo == 'critique' %} 
		<div class="NotificationPicture NotificationCritique">
		{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
		</div>

		<div class="NotificationDescription">

			<a href="{{notification.redirect}}">{{ notification.title }}</a>

		</div>

		<div class="NotificationTimestamp">

			<span><b>hace {{ notification.get_timestamp }}</b></span>

		</div>

	</article>


	{% endfor %}

</section>

{% empty %}

<h4>Aun no tienes notificaciones</h4>

{% endfor %}

</section>

{% endblock %}