{% extends "base.html" %}
{% block title %}

{% endblock %}

{% block media %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.contentcarousel.js"></script>
<script type="text/javascript">
	$('#ca-container').contentcarousel();
</script>

{% endblock %}

{% block content %}

<section class="CandidatesWrapper">

	<div id="ca-container" class="ca-container">

				<div class="ca-wrapper">

					{% for candidate in candidates %}

					<div class="ca-item CandidateItemWrapper">

						<div class="ca-item-main">

							{{ candidate.owner }}
							{{ candidate.date }}
							{{ candidate.cprice }}
							{{ candidate.message }}
							<a href="/assignment/new/{{ candidate.requestItem.pk }}/{{ candidate.owner.pk}}">Asignar Venta a este Usuario</a>
							<a href="#" class="ca-more">more...</a>
						</div>

						<div class="ca-content-wrapper">
							<div class="ca-content">
								<a href="#" class="ca-close">close</a>
							</div>
						</div>


					</div>

					{% empty %}

						<span>Este Articulo aun no dispone de Posibles Vendedores</span>

					{% endfor %}

					<div class="ca-item CandidateItemWrapper ">
						<div class="ca-item-main">

						</div>
									
					</div>

					<div class="ca-item CandidateItemWrapper ">

						<div class="ca-item-main">

						</div>
							
					</div>

				</div>
	</div>


</section>

{% endblock %}



