{% extends "core/PurchasesMiddle.html" %}

{% block PurchasesMiddle%}

<section>
	{% for item in completedPurchases %}

	<article class="ItemThumbsPurchases">
	

		<div class="ItemThumbsPriceTitle PurchasesInfoContainer">
			<div class="ItemThumbsPrice ItemThumbsPurchasesInfo PurchasesInfoStatePrice">
				<b><span>{{ item.state }}</span></b> en <b><span>$ {{ item.price }}</span></b>
			</div>

			<div clas="ItemThumbsTitle ItemThumbsPurchasesInfo">
				<span> {{ item.title }} </span>
			</div>

			<div class="ItemThumbsMoreButtonSell ItemThumbsPurchasesInfo">
				<div class="ItemThumbsMore">
					<a class="button-green" href="">Ver Status</a>
					<a class="button-blue" href="/messages/{{ item.assignment.conversation.pk }}">Ir a Conversación</a>	

				</div>
			</div>

		</div>

		<div class="ItemThumbsPicture">
			<img src="{{ item.get_first_picture_100x100 }}">
		</div>

	
	</article>

	{% empty %}

	<p>Aun no tienes Compras Terminadas</p>

	{% endfor %}

</section>


{% endblock %}