{% extends "core/SalesMiddle.html" %}

{% block SalesMiddle %}

<section class="SalesList">

	{% for item in completedSales %}

	<article class="ItemThumbsSales" style="position:relative !important">

		<ul class="MoreOptions">
			<li><a class="MoreOptionsIcon" href="#">+</a>
				<ul>
					<li><a href="#">Editar</a></li>
					<li><a href="#">Eliminar</a></li>
				</ul>
			</li>
		</ul>

		<div class="SalesListPicture">

			<img src="{{ item.requestItem.get_first_picture_100x100 }}" width="50" height="50">

		</div>

		<div class="SalesItemWrapper">
			<div>
				<a href="/item/{{ item.requestItem.pk }}">{{ item.requestItem.title }}</a> en <a href="/item/{{ item.requestItem.pk }}">${{ item.requestItem.price }}</a>
			</div>

			<div>
					<a  href="/messages/{{ item.conversation.pk }}">Ver Conversacíon</a>
					<a  href="#">Ver Critica</a>
					<span class="SalesItemTimeStamp">hace {{ item.requestItem.get_timestamp }}</span>				
			</div>


		</div>
	
	</article>

	{% empty %}

	<p>Aun no has solicitado ningun articulo</p>

	{% endfor %}

</section>

{% endblock %}