{% load endless %}
	
	{% paginate items %}
	{% for item in items %}
	<article class="ItemThumbs">
		<div class="ItemThumbsPriceTitle">
			<div class="ItemThumbsPrice">
				<a href="/profile/{{ item.owner }}">{{ item.owner }}</a><span> lo quiere </span>
			</div>

			<div clas="ItemThumbsTitle">
				<a href="/item/{{ item.pk }}"><span> {{ item.title }} </span></a>
			</div>
		</div>

		<div class="ItemThumbsPicture">
			<a href="{{ item.get_url }}">
				<img src="{{ item.get_first_picture_100x100 }}">
			</a>
			<div class="ItemThumbsPictureInfo">
				<b><span class="ItemThumbsPictureInfoState">{{ item.state }}</span></b>
				<b><span class="ItemThumbsPictureInfoPrice">$ {{ item.price }}</span></b>
			</div>
		</div>

		<div class="ItemThumbsMoreButtonSell">
			<div class="ItemThumbsButtonSell">
				<a href="/proffer/new/{{ item.pk }}" class="button-sell button-sell-mini">VENDER</a>
				<!-- 
				<button class="button-sell button-sell-mini small pop2" data-bpopup ='{"content":"iframe","contentContainer":".content","loadUrl":"/proffer/new/{{ item.pk }}", "modalColor" : "white" }'>VENDER</button>
				 -->
			</div>
			<div class="ItemThumbsTimeStamp">
				<span>hace <b>{{ item.get_timestamp }}</b></span>
			</div>
		</div>
	</article>

	{% empty %}
		<p>No hay Articulos publicados!!</p>
	{% endfor %}

{% show_more %}


 

