{% load endless %}

	{% paginate items %}
	{% for item in items %}
	<article class="ItemThumbs">
		<div class="ItemThumbsPicture">
			<img src="{{ item.get_first_picture_100x100 }}">
		</div>

		<div class="ItemThumbsPriceTitle">
			<div class="ItemThumbsPrice">
				<b><span>{{ item.state }}</span></b> en <b><span>$ {{ item.price }}</span></b>
			</div>

			<div clas="ItemThumbsTitle">
				<span> {{ item.title }} </span>
			</div>
		</div>

		<div class="ItemThumbsMoreButtonSell">
			<div class="ItemThumbsMore">
				<a class="button-green"href="/item/{{ item.pk }}">Leer mas</a>
			</div>
			<div class="ItemThumbsButtonSell">
				<a class="button-blue" href="/proffer/new/?item_id={{item.pk}}">VENDER</a>
			</div>
		</div>
	</article>

	{% empty %}
		<p>No hay Articulos publicados!!</p>
	{% endfor %}
	{% show_more %}


 

