{% extends "base.html" %}
{% block title %}

{% endblock %}
{% block media %}

{% endblock %}

{% block content %}

<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
	<div>
		<span>Precio</span>
		{{ form.price }}
		{{ form.price.errors }}
	</div>
	<div>
		<span>Titulo</span>
		{{ form.title }}
		{{ form.title.errors }}
	</div>
	<div>
		<span>Cantidad</span>
		{{ form.quantity }}
		{{ form.quantity.errors }}
	</div>
	<div>
		<span>Descripcion</span>
		{{ form.description }}
		{{ form.description.errors }}
	</div>
	<div>
		<span>Categoria A</span>
		{{ form.itemsCatA }}
		{{ form.itemsCatA.errors }}
	</div>
	<div>
		<span>Categoria B</span>
		{{ form.itemsCatB }}
		{{ form.itemsCatB.errors }}
	</div>
	<div>
		<span>Categoria C</span>
		{{ form.itemsCatC }}
		{{ form.itemsCatC.errors }}
	</div>
	<div>
		<span>Marca</span>
		{{ form.brand }}
		{{ form.brand.errors }}
	</div>
	<div>
		<span>Modelo</span>
		{{ form.model }}
		{{ form.model.errors }}
	</div>
	<div>
		<span>Estado</span>
		{{ form.state }}
		{{ form.state.errors }}
	</div>
	<div>
		<span>Dias limite</span>
		{{ form.daysLimit }}
		{{ form.daysLimit.errors }}
	</div>
	<div>
		<span>Direccion de Envio</span>
		{{ form.addressDelivery }}
		{{ form.addressDelivery.errors }}
	</div>
	{{form.errors}}
		<input type="submit" value="SUBIR">
</form>


{% endblock %}

