{% extends "core/SalesMiddle.html" %}

{% block SalesMiddle %}


<section>

	{% for item in possibleSales %}

	<article class="ItemThumbsPurchases">
		<div class="ItemThumbsPicture">
			<img src="{{ item.requestItem.get_first_picture_100x100 }}">
		</div>

		<div class="ItemThumbsPriceTitle PurchasesInfoContainer">
			<div class="ItemThumbsPrice ItemThumbsPurchasesInfo PurchasesInfoStatePrice">
				<b><span>{{ item.requestItem.state }}</span></b> en <b><span>$ {{ item.requestItem.price }}</span></b>
			</div>

			<div clas="ItemThumbsTitle ItemThumbsPurchasesInfo">
				<span> {{ item.requestItem.title }} </span>
			</div>

			<div class="ItemThumbsMoreButtonSell ItemThumbsPurchasesInfo">
				<div class="ItemThumbsMore">
					<a href="/item/{{ item.requestItem.pk }}">Leer mas</a> ||
					<a class="button-blue" href="/">PALABRA</a>					
				</div>
			</div>
		</div>
		
	</article>

	{% empty %}

	<p>Aun no has aplicado para vender algun articulo</p>

	{% endfor %}

</section>

{% endblock %}