{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block media %}

 <script type="text/javascript" src="{{ MEDIA_URL }}js/scripting.js"></script>

{% endblock %}

{% block content %}

<section class="ViewItemContent">

	<article class="DateOwnerItem">
		<span>Con envio al <b class="BBigItem"> C.P {{ item.owner.get_profile.zipcode }}</b></span></br>
		<span>Publicado el {{ item.date }} por <a href="#">{{ item.owner }}</a></span></br>
		<span>Restan <b class="BBigItem">Ndias</b> para cerrar</span></br>
		<span>Restan <b class="BBigItem">NArticulos</b> por Vender</span>
	</article>

	<article>
			<span>{{ item.itemsCatA}}</span> --> <span>{{ item.itemsCatB}}</span> --> <span>{{ item.itemsCatC}}</span> 
	</article>

	<article class="ItemOverview">
		<div class="ItemOverviewPicture">
			<img src="{{ item.get_first_picture_250x250 }}">
		</div>

		<div class="ItemOverviewPrincipal">
			<span id="itemTitle">{{ item.title }}</span>
			<div id="itemBrandModel">
				marca <span class="ItemSpanBig">{{ item.brand }}</span> modelo <span class="ItemSpanBig">{{ item.model }}</span>
			</div>
			<div id="itemStatePrice">	
				<span class="ItemSpanBig">{{ item.state }}</span> por <span class="ItemSpanBig">$ {{ item.price }}</span>
			</div>

			<div class="ViewItemButtons">
				<button class="button-blue small pop2" data-bpopup ='{"content":"iframe","contentContainer":".content","loadUrl":"/proffer/new/{{ item.pk }}", "modalColor" : "white", "positionStyle" : "fixed" }'>Vender</button>
			</div>
		
		</div>

		
	</article>


	<article class="ItemPictures">

		{% for picture in item.pictures.all %}

		<img src="{{ picture.get_url_100x100 }}">

		{% endfor%}

	</article>

	<article class="ItemDescription">

		<span id="ItemAbout">Acerca del Producto</span>

		<p>{{ item.description }}</p>

	</article>

	<div class="ViewItemButtons">
		<button class="button-blue small pop2" data-bpopup ='{"content":"iframe","contentContainer":".content","loadUrl":"/proffer/new/{{ item.pk }}", "modalColor" : "white", "positionStyle" : "fixed" }'>Vender</button>
	</div>

	<div id="popup2" style="display:none">
        <span class="button-blue bClose"><span>cerrar</span></span>
        <div class="content">
        </div>
    </div>
	
</section>

{% endblock %}


