{% extends "3columns.html" %}
{% block title %}

{% endblock %}

{% block media %}

{% endblock %}

{% block section2 %}
<section class="wrapper-div background1">
<form action="" enctype="multipart/form-data" method="POST">{% csrf_token %}
	<h2>Cambiar Correo Electronico</h2>
	<div>
		<legend>Nuevo Correo Electronico</legend>
		{{ form.new_email }}
		<span class="help-block">Este es tu nuevo Correo Electronico</span>
		{{ form.new_email.errors }}	
	</div>

	<div>
		<legend>Contraseña</legend>
		{{ form.password }}
		<span class="help-block">Tu contraseña Actual</span>
		{{ form.password.errors }}
	</div>

	<center>
		<input class="btn btn-large btn-success" type="submit" value="Guardar">
	</center>
</form>
</section>
{% endblock %}