{% extends "3columns.html" %}

{% block title %}
Configuración de Cuenta
{% endblock %}

{% block media_js %}
<script type="text/javascript">
$(document).on('ready', function(){
	$('#tab-config a').click(function (e) {
    	e.preventDefault();
    	$(this).tab('show');
    });
});
</script>
{% endblock %}

{% block section1 %}
	{% include "categories2.html" %}
{% endblock %}

{% block section2 %}
				<div class="content padding-1_5em">
					<!-- STARTS CONTENT -->
					<div class="head">
						<div class="info margin-bottom-1em">
							<h1 class="font-size-1_5em">Configuración de Cuenta</h1>
							<div class="description">
								Aquí puedes cambiar la información básica de tu cuenta.
							</div>
						</div>
					</div>
					
					<!-- STARTS AREA -->
					<div class="border margin-top-1em padding-1em">
						<div class="title font-size-1_5em margin-bottom-1em">Cuenta</div>
							<div class="info-enum border dashed">
								<div class="container padding-1em">
									<!-- STARTS OPTION -->
									<div class="configuration-option group margin-bottom-1em">
										<div class="strong float-left width-20">
											Usuario
										</div>
										<div class="float-left">
											{{ user }}
										</div>
										<div class="float-right">
											<a class="attention" href="#">Modificar</a>
										</div>
									</div>
									<!-- END OPTION -->
									<!-- STARTS OPTION -->
									<div class="configuration-option group margin-bottom-1em">
										<div class="strong float-left width-20">
											Contraseña
										</div>
										<div class="float-left">
											********
										</div>
										<div class="float-right">
											<a class="attention" href="/config/password/">Modificar</a>
										</div>
									</div>
									<!-- END OPTION -->
									<!-- STARTS OPTION -->
									<div class="configuration-option group margin-bottom-1em">
										<div class="strong float-left width-20">
											Correo <br/> electrónico
										</div>
										<div class="float-left">
											{{ user.email }}
										</div>
										<div class="float-right">
											<a class="attention" href="/config/email/">Modificar</a>
										</div>
									</div>
									<!-- END OPTION -->
								</div>
							</div>
					</div>
					<!-- ENDS AREA -->
					
					<!-- STARTS AREA -->
					<div class="border margin-top-1em padding-1em">
						<div class="title font-size-1_5em margin-bottom-1em">Notificaciones</div>
							<div class="info-enum border dashed">
								<div class="container padding-1em">
									<form>
										<!-- STARTS OPTION -->
										<div class="configuration-option group margin-bottom-1em">
											<div class="strong float-left width-5">
												<input type="checkbox" />
											</div>
											<div class="float-left width-90">
												Recibir email cuando tenga una nueva oferta para alguno de mis artículos publicados.
											</div>
										</div>
										<!-- END OPTION -->
										<!-- STARTS OPTION -->
										<div class="configuration-option group margin-bottom-1em">
											<div class="strong float-left width-5">
												<input type="checkbox" />
											</div>
											<div class="float-left width-90">
												Recibir email cuando sea seleccionado como Vendedor.
											</div>
										</div>
										<!-- END OPTION -->
										<!-- STARTS OPTION -->
										<div class="configuration-option group margin-bottom-1em">
											<div class="strong float-left width-5">
												<input type="checkbox" />
											</div>
											<div class="float-left width-90">
												Recibir email cuando reciba un nuevo mensaje.
											</div>
										</div>
										<!-- END OPTION -->
										<!-- STARTS OPTION -->
										<div class="configuration-option group margin-bottom-1em">
											<div class="strong float-left width-5">
												<input type="checkbox" />
											</div>
											<div class="float-left width-90">
												Recibir email cuando me confirmen el pago de algún articulo.
											</div>
										</div>
										<!-- END OPTION -->
										<!-- STARTS OPTION -->
										<div class="configuration-option group margin-bottom-1em">
											<div class="strong float-left width-5">
												<input type="checkbox" />
											</div>
											<div class="float-left width-90">
												Recibir email cuando me confirmen el envío de algún articulo.
											</div>
										</div>
										<!-- END OPTION -->
										<!-- STARTS OPTION -->
										<div class="configuration-option group margin-bottom-1em">
											<div class="strong float-left width-5">
												<input type="checkbox" />
											</div>
											<div class="float-left width-90">
												Recibir email cuando reciba alguna crítica.
											</div>
										</div>
										<!-- END OPTION -->
										
										<!-- START SUBMIT -->
										<div class="text-align-center">
											<input type="submit" class="button green" value="Guardar" />
										</div>
										<!-- END SUBMIT -->
									</form>
								</div>
							</div>
					</div>
					<!-- ENDS AREA -->
					
					<!-- ENDS CONTENT -->
				</div>
{% endblock %}

{% block section3 %}
	{% include "howtodo.html" %}
{% endblock %}