{% extends "newitemnew/base.html" %}

{% block media %}

{% endblock %}


{% block steps %}


	{% load i18n %}

	{% block head %}
		{{ wizard.form.media }}
	{% endblock %}
<section class="NewItemFormWrapper">

<form class="NewItemForm" action="" method="post">{% csrf_token %}

{{ wizard.management_form }}

<div>
{{ wizard.form.description }}
{{ wizard.form.description.errors }}
</div>

<div class="NewItemButtons">
		{% if wizard.steps.prev %}
		<button class="ButtonBack" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans " " %}</button>
		{% endif %}
		<input class="ButtonNext" type="submit" value="{% trans " " %}"/>
</div>

</form>

</section>


{% endblock %}