{% extends "newitemnew/base.html" %}

{% block media %}

{% endblock %}

{% block steps %}
	{% load i18n %}

	{% block head %}
		{{ wizard.form.media }}
	{% endblock %}

<section class="NewItemFormWrapper">

<form class="NewItemForm" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

{{ wizard.management_form }}
	
	<div class="">
    	{{ wizard.form.picture1 }}
    	{{ wizard.form.picture1.errors }}
	</div>

	<div class="">
    	{{ wizard.form.picture2 }}
    	{{ wizard.form.picture2.errors }}
	</div>

	<div class="">
    	{{ wizard.form.picture3 }}
    	{{ wizard.form.picture3.errors }}
	</div>

	<div class="">
    	{{ wizard.form.picture4 }}
    	{{ wizard.form.picture4.errors }}
	</div>

	<div class="">
    	{{ wizard.form.picture5 }}
    	{{ wizard.form.picture5.errors }}
	</div>

	<div class="NewItemButtons">
		{% if wizard.steps.prev %}
		<button class="ButtonBack" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans " " %}</button>
		{% endif %}
		<input class="ButtonNext" type="submit" value="{% trans " " %}"/>
	</div>

</form>

</section>

{% endblock %}