{% extends "3columns.html" %}

{% block title %}

{% endblock %}

{% block media %}

{% endblock %}

{% block section2 %}
<div class="wrapper-div3">
	<div class="row-fluid">
		<div class="span3 thumbnail">
			<img src="{{ article.get_first_picture_url }}">
		</div>
		<div class="span8 text-center">
			<h2>Confirmacion de ENVIO del articulo {{ article.title }}</h2>
		</div>
	</div>

	<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
		<div class="text-center">
			<legend>Mensaje</legend>
			{{ form.message }}
			<span class="help-block">Deja algun mensaje acerca de esta confirmacion de envio</span>
			{{ form.message.errors }}
		</div>

		<div class="text-center">
			<legend>Imagen (NO ES OBLIGATORIO)</legend>
			<div class="input-prepend">
				<span class="add-on"><i class="icon-picture"></i></span>
				{{ form.picture }}
			</div>
			<span class="help-block">Sube por ejemplo comprobantes de envio, fichas de envio, en formato .jpg</span>
			{{ form.picture.errors }}
		</div>
		<div class="text-center">
			<input class="btn btn-success btn-large" type="submit" value="Confirmar">
		</div>
	</form>
</div>
{% endblock %}