{% extends "newitem/base.html" %}

{% block media %}

{% endblock %}

{% block steps %}
	{% load i18n %}

	{% block head %}
		{{ wizard.form.media }}
	{% endblock %}

<section class="GroupItemsForm">

<form action="" method="post">{% csrf_token %}

{{ wizard.management_form }}
	
	<div class="NewItemCatSelects">
		<span class="LabelItemForm">Categoría del producto</span>
    	{{ wizard.form.itemsCatA }}
    	{{ wizard.form.itemsCatA.errors }}
	</div>

	<div class="NewItemCatSelects">
    	{{ wizard.form.itemsCatB }}
    	{{ wizard.form.itemsCatB.errors }}
	</div>

	<div class="NewItemCatSelects">
    	{{ wizard.form.itemsCatC }}
    	{{ wizard.form.itemsCatC.errors }}
	</div>

	<div class="NewItemBrandModelState">
		<span class="LabelItemForm">Marca</span>
		{{ wizard.form.brand }}
		{{ wizard.form.brand.errors }}
	</div>

	<div class="NewItemBrandModelState">
		<span class="LabelItemForm">Modelo</span>
		{{ wizard.form.model }}
		{{ wizard.form.model.errors }}
	</div>

	<div class="NewItemBrandModelState"> 
		<span class="LabelItemForm">Estado</span>
		{{ wizard.form.state }}
		{{ wizard.form.state.errors }}
	</div>

	<div class="NewItemButtons">
		{% if wizard.steps.prev %}
			<button class="button-blue" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Regresar" %}</button>
		{% endif %}
		<input class="button-blue" type="submit" value="{% trans "Continuar" %}"/>
	</div>

</form>

</section>

{% endblock %}