{% extends "newitem/base.html" %}

{% block media %}

{% endblock %}

{% block steps %}
	{% load i18n %}

	{% block head %}
		{{ wizard.form.media }}
	{% endblock %}

<section class="GroupItemsForm">

<form action="" method="post">{% csrf_token %}
{{ wizard.management_form }}

	<div class="NewItemDuration">
	<span class="LabelItemForm LabelItemDuration">Duración Publicación</span>
	{{ wizard.form.daysLimit }}
    {{ wizard.form.daysLimit.errors }}
	</div>

	<div class="NewItemAddressDelivery">
	<span class="LabelItemForm">Dirección de Entrega </span>
	{{ wizard.form.addressDelivery }}
   	{{ wizard.form.addressDelivery.errors }}
	</div>
   
	<div class="NewItemButtons">
		{% if wizard.steps.prev %}
			<button class="button-blue" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Regresar" %}</button>
		{% endif %}
		<input class="button-blue" type="submit" value="{% trans "Continuar" %}"/>
	</div>

</form>

</section>

{% endblock %}