{% extends "newitem/base.html" %}

{% block media %}

{% endblock %}


{% block steps %}


	{% load i18n %}

	{% block head %}
		{{ wizard.form.media }}
	{% endblock %}
<section class="GroupItemsForm">

<form action="" method="post">{% csrf_token %}

{{ wizard.management_form }}

<div class="NewItemPriceQuantity">
<span class="LabelItemForm">Precio</span>
{{ wizard.form.price }}
{{ wizard.form.price.errors }}
</div>

<div class="NewItemPriceQuantity">
<span class="LabelItemForm">Cantidad</span>
{{ wizard.form.quantity }}
{{ wizard.form.quantity.errors }}
</div>

<div class="NewItemTitleDescription">
<span class="LabelItemForm">Titulo</span>
{{ wizard.form.title }}
{{ wizard.form.title.errors }}
</div>

<div class="NewItemTitleDescription">
<span class="LabelItemForm">Descripción </span>
{{ wizard.form.description }}
{{ wizard.form.description.errors }}
</div>

<div class="NewItemButtons">

<input class="button-blue" type="submit" value="{% trans "Continuar" %}"/>

</div>

</form>

</section>


{% endblock %}