{% extends "newitem/base.html" %}

{% block media %}

{% endblock %}

{% block steps %}
	{% load i18n %}

	{% block head %}
		{{ wizard.form.media }}
	{% endblock %}

<section class="GroupItemsForm">

<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

{{ wizard.management_form }}
	
	<div class="">
		<span class="LabelItemForm">Imagen 1</span>
    	{{ wizard.form.picture1 }}
    	{{ wizard.form.picture1.errors }}
	</div>

	<div class="">
		<span class="LabelItemForm">Imagen 2</span>
    	{{ wizard.form.picture2 }}
    	{{ wizard.form.picture2.errors }}
	</div>

	<div class="">
		<span class="LabelItemForm">Imagen 3</span>
    	{{ wizard.form.picture3 }}
    	{{ wizard.form.picture3.errors }}
	</div>

	<div class="NewItemButtons">
		{% if wizard.steps.prev %}
			<button class="button-blue" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Regresar" %}</button>
		{% endif %}
		<input class="button-blue" type="submit" value="{% trans "Finalizar" %}"/>
	</div>

</form>

</section>

{% endblock %}