{% extends "account/SalesMiddle.html" %}

{% block SalesMiddle %}
<section>
	{% for item in completedSales %}
	<article class="wrapper-div span8">
		<div class="row">
			<div class="span5">
				<div>
					<a href="{{ item.article.get_url }}">{{ item.article.title }}</a><b> en </b><a href="{{ item.article.get_url }}">{{ item.article.price }}</a>
				</div>
				<div>
					<a href="/messages/{{ item.assignment.conversation.pk }}">Ir a Conversacion</a>
					<a href="#">Ver Critica</a>
					<b>hace {{ item.article.get_timestamp }}</b>
				</div>				
			</div>
			<div class="span2">
				<img src="#">
			</div>
		</div>
	</article>
	{% empty %}
	<p>Aun no has solicitado ningun articulo</p>
	{% endfor %}
</section>
{% endblock %}