{% extends "3columns.html" %}

{% block title %}{% endblock %}

{% block media %}
{% endblock %}

{% block search-bar %}
	{% include "search.html" %}
{% endblock %}

{% block section2 %}
<section class="wrapper-div">
    <div class="text-center">
        <h2>Mis Ofertas</h2>
    </div>
    	<div class="tab-pane active" id="possible">
            {% for offer in offers_list %}
                {% include "account/offers.html" %}
            {% empty %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Vacio!</h4>
                Aun no tienes operaciones
                <a href="/article/post"> Publicar una Compra</a>
            </div>
            {% endfor %}
    	</div>
</section>
{% endblock %}

{% block section3 %}
    {% include "howtodo.html" %}
{% endblock %}