<article class="wrapper-div3 hover1">
	<div class="row-fluid">
		<div class="thumbnail span3">
			<img src="{{ offer.get_first_picture_url }}">
		</div>
		<div class="span6">
			<center>
				<a class="a-title-large" href="{{ offer.article.get_url }}">{{ offer.article.title }}</a>
			</center>
			<center class="margin10">
				<a href="/article/myoffer/{{ offer.pk }}">Ver Mi Oferta</a>
			</center>
			<center>
				<p>
					{{ offer.message|truncatechars:100}}
				</p>
			</center>
		</div>
		<div class="span3">
			<center>
				<h2>$ {{ offer.cprice }}</h2>
				<p>
					<b>hace {{ offer.get_timestamp }}</b>
				</p>	
			</center>
		</div>
	</div>
</article>