<article class="wrapper-div hover1">
	<div class="row-fluid">
		<div class="thumbnail span2">
			<img src="{{ MEDIA_URL}}img/cuantoo_profile_picture.png">
		</div>
		<div class="span7">
			<p>
				<a href="{{ item.article.get_url }}">{{ item.article.title }}</a>
			</p>
			<p>
				<a href="/messages/{{ item.article.assignment.conversation.pk }}">Ir a Conversación ({{ item.article.assignment.conversation.getNumber_unread_messages_buyer }})</a>
			</p>
		</div>
		<div class="span3">
			<h2>$ {{ item.article.price }}</h2>
			<p>
				<b>hace {{ item.article.get_timestamp }}</b>
			</p>		
		</div>
	</div>
</article>

