{% extends "account/PurchasesMiddle.html" %}

{% block PurchasesMiddle%}

<section>

	{% for item in processPurchases %}

	<article>

		<div>
			<div>
				<a href="{{ item.get_url }}">{{ item.title }}</a> en <a href="/item/{{ item.pk }}">${{ item.price }}</a>
			</div>

			<div>
					<a  href="/messages/{{ item.assignment.conversation.pk }}">Ver Conversación</a>
					<a  href="#">Ver Detalles</a>
					<span>hace {{ item.get_timestamp }}</span>				
			</div>


		</div>
	
	</article>

	{% empty %}

	<p>Aun no has solicitado ningun articulo</p>

	{% endfor %}

</section>




{% endblock %}