{% extends "3columns.html" %}

{% block title %}{% endblock %}

{% block media %}
<script type="text/javascript">
$(document).on('ready', function(){
	$('#myTab a').click(function (e) {
    	e.preventDefault();
    	$(this).tab('show');
    });
});
</script>
{% endblock %}

{% block search-bar %}
	{% include "search.html" %}
{% endblock %}

{% block section2 %}

<section class="wrapper-div">
    <div class="text-center">
        <h2>Mis Compras</h2>
    </div>
	
    <div>
        <ul class="nav nav-tabs" id="myTab">
            <li class="active">
                <a href="#published">Compras Publicadas</a>
            </li>
            <li>
                <a href="#process">Compras en Proceso</a>
            </li>
            <li>
                <a href="#completed">Compras Finalizadas</a>
            </li>
        </ul>
    </div>

   
    <div class="tab-content">

    	<div class="tab-pane active" id="published">
            {% for item in publishedPurchases %}
                {% include "account/publishedPurchases.html" %}
            {% empty %}
            <h3>Aun no has Publicado una compra</h3>
            <a href="/article/post">Publicar compra</a>
            {% endfor %}
    	</div>
    	<div class="tab-pane" id="process">
            {% for item in processPurchases %}
                {% include "account/processPurchases.html" %}
            {% empty %}
            <h3>Aun no has Publicado una compra</h3>
            <a href="/article/post">Publicar compra</a>
            {% endfor %}
    	</div>
        <div class="tab-pane" id="completed">
            {% for item in completedPurchases %}
                {% include "account/completedPurchases.html" %}
            {% empty %}
            <h3>Aun no has Publicado una compra</h3>
            <a href="/article/post">Publicar compra</a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block section3 %}
    {% include "howtodo.html" %}
{% endblock %}