{% extends "3columns.html" %}

{% block title %}{% endblock %}

{% block media %}
<script type="text/javascript">
$(document).on('ready', function(){
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
});
</script>
{% endblock %}

{% block search-bar %}
    {% include "search.html" %}
{% endblock %}

{% block section2 %}
<section class="wrapper-div">
    <div class="text-center">
        <h2>Mis Ventas</h2>
    </div>
    
    <ul class="nav nav-tabs" id="myTab">
        <li class="active">
            <a href="#process">Ventas Acordadas</a>
        </li>
        <li>
            <a href="#completed">Ventas Finalizadas</a>
        </li>
    </ul>
   
    <div class="tab-content">
        <div class="tab-pane active" id="process">
            {% for item in processSales %}
                {% include "account/processSales.html" %}
            {% empty %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Vacio!</h4>
                Aun no tienes operaciones
                <a href="/article/post"> Publicar una Compra</a>
            </div>
            {% endfor %}
        </div>
        <div class="tab-pane" id="completed">
            {% for item in completedSales %}
                {% include "account/completedSales.html" %}
            {% empty %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Vacio!</h4>
                Aun no tienes operaciones
                <a href="/article/post"> Publicar una Compra</a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block section3 %}
    {% include "howtodo.html" %}
{% endblock %}