{% load endless %}
	
	{% paginate items %}
	{% for item in items %}
	<article>
		<div>
			<div>
				<a href="/profile/{{ item.owner }}">{{ item.owner }}</a><span> lo quiere </span>
			</div>

			<div>
				<a href="{{ item.get_url }}"><span> {{ item.title }} </span></a>
			</div>
		</div>

		<div>
			<a href="{{ item.get_url }}">
				<img src="">
			</a>
			<div>
				<b><span>{{ item.state }}</span></b>
				<b><span>$ {{ item.price }}</span></b>
			</div>
		</div>

		<div>
			<div>
				<a href="/article/offer/{{ item.pk }}">VENDER</a>
			</div>
			<div>
				<span>hace <b>{{ item.get_timestamp }}</b></span>
			</div>
		</div>
	</article>

	{% empty %}
		<p>No hay Articulos publicados!!</p>
	{% endfor %}

{% show_more %}


 

