{% load endless %}
	
	{% paginate items %}
	{% for item in items %}
	<article class="wrapper-div">
		<div>
			<a href="{{ item.get_url }}">
				<img src="">
			</a>
		</div>
		<div>
			<a href="/profile/{{ item.owner }}">{{ item.owner }}</a><span> compra </span>
			<a href="{{ item.get_url }}"><span> {{ item.title }} </span></a>
			<b><span>{{ item.state }}</span></b><span> en </span><b><span>$ {{ item.price }}</span></b>
		</div>
	
		<div>
			<div>
				<span>hace <b>{{ item.get_timestamp }}</b></span>
			</div>
			<div>
				<a class="btn btn-primary" href="/article/offer/{{ item.pk }}">VENDERSELO</a>
			</div>
		</div>
	</article>

	{% empty %}
		<p>No hay Articulos publicados!!</p>
	{% endfor %}

{% show_more %}


 

