{% extends "3columns.html" %}

{% block media %}
<link rel="stylesheet" id="themestyle" href="{{ MEDIA_URL}}css/tour/theme8/style.css">
<script src="{{ MEDIA_URL }}js/jquery.easing.js"></script>
<script src="{{ MEDIA_URL }}/js/jTour.js"></script>
<script>
$(document).ready(function() {
   var tourdata = [
      {
        html: "<h1>Publicar una Compra</h1><hr>Aqui puedes comprar un articulo al precio que quieras</hr>",
        element: $('#post-article'),
        overlayOpacity: 0.8,
        expose: true,
        position: 's'
      },{
        html: "<h1>Vende Articulos</h1><hr>Encuentra articulos que la gente esta comprando y vendelos</hr>",
        element: $('#search-bar'),
        overlayOpacity: 0.8,
        expose: true,
        position: 's'
      },{
        html: "<h1>Tu Información</h1><hr>Aqui puedes modificar tu Perfil, Configuración y ver tu Estado de Cuenta</hr>",
        element: $('#user-info'),
        overlayOpacity: 0.8,
        onShow: function(e){ e.addClass("active");},
        onHide: function(e){ e.removeClass("active");},
        expose: true,
        position: 'sw'
      },{
        html: "<h1>Tus Operaciones</h1><hr>Puedes consultar tus Ofertas, Compras y Ventas</hr>",
        element: $('#operations-info'),
        overlayOpacity: 0.8,
        onShow: function(e){ e.addClass("active");},
        onHide: function(e){ e.removeClass("active");},
        expose: true,
        position: 'sw'
      },{
        html: "<h1>Notificaciones</h1><hr>Aqui puedes consultar las notificaciones de tus operaciones</hr>",
        element: $('#notifications-info'),
        overlayOpacity: 0.8,
        onShow: function(e){ e.addClass("active");},
        onHide: function(e){ e.removeClass("active");},
        expose: true,
        position: 'se'
      },{
        html: "<h1>Inbox</h1><hr>Aqui puedes consultar los mensajes que te envien otros usuarios</hr>",
        element: $('#inbox-info'),
        overlayOpacity: 0.8,
        onShow: function(e){ e.addClass("active");},
        onHide: function(e){ e.removeClass("active");},
        expose: true,
        position: 'se'
      },
   ];
   
   var myTour = jTour(tourdata,{
      axis:'y',  // use only one axis prevent flickring on iOS devices
      scrollBack: true //scrolls back to the beginning position
   });
   
   //myTour.start();
   
   //the Button
   $('#starttour').click(function(){
      myTour.restart();                      
   }); 
});
</script>
{% endblock %}

{% block search-bar %}
	{% include "search.html" %}
{% endblock %}

{% block section1 %}
	{% include "categories.html" %}
{% endblock %}
{% block section2 %}	
<a class="button primary" id="starttour">Start this Tour</a>
<section>
{% for article in articles %}
  <article>
  </article>
  {% endfor %}
</section>
{% endblock %}

{% block section3 %}
	{% include "howtodo.html" %}
{% endblock %}