

/*

LOGO

*/
.alogo{
	text-decoration: none;
	color:white;
}
.logo-howmuch {
	width:auto;
	font-family: 'Norican', cursive;
	text-align:center;
	text-shadow: 0px 0px 10px #000;
	filter: dropshadow(color=#000, offx=0, offy=0);
	margin:0px;
	display:inline-block;
	width:200px;
	font-size:25px;
	position:relative;
	top:3px;     
}
span.how {
	background: rgb(0,59,72);
	padding: 0px;
}
span.punto-do{
	background: rgb(0,113,138);
	padding: 0px;
}
/*

LOGO

*/

/*
HEADER
*/
header{
	background: #00b7ea; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYjdlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDllYzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* IE10+ */
background: linear-gradient(to bottom, #00b7ea 0%,#009ec3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-8 */
	min-width:2000px;
	box-shadow: 0pt 2px 6px rgba(0, 0, 0, 0.5), 0pt 1px rgba(255, 255, 255, 0.3) inset, 0pt 10px rgba(255, 255, 255, 0.2) inset, 0pt 10px 20px rgba(255, 255, 255, 0.25) inset, 0pt -15px 30px rgba(0, 0, 0, 0.1) inset;
}
nav ul li{
	display:inline-block;
}
nav ul li a{
	text-decoration: none;
	color:white;
	padding:10px;
}
nav ul li a:hover{
	background: #49c0f0;

}
.inputRequestItem{
	border-radius: 3px;
	border:0;
	padding: 3px;
	background: white;
}
.itemHeader{	
	display: inline-block;
}
.labelFormRequestItem{
	color:white;
}

/*
HEADER
*/


/*
BUTTONS
*/
.button-blue{
	background: #00b7ea;
	border-radius: 3px;
	border:0px;
	padding:7px;
	width:77px;
}
.button-green{
	background: #8fc800;
	border-radius: 3px;
	border:0px;
	padding:7px;
	width:77px;	
}
.button-yellow{
	background: #febf01;
	border-radius: 3px;
	border:0px;
	padding:7px;
	width:77px;	
}
.button-red{
	background: #ff1a00;
	border-radius: 3px;
	border:0px;
	padding:7px;
	width:77px;	
}
/*
BUTTONS
*/
#id_itemsCatA,#id_itemsCatB, #id_itemsCatC{
	border:2px solid #00b7ea;
	border-radius: 3px;
	background:white;
	padding:7px;
	width:380px;
}
.ContainerItemForm{
	width:400px;
}
span.LabelItemForm{
	display:block;
}
.InputFormRequestItem{
	border:2px solid #00b7ea;
	border-radius: 3px;
	background:white;
	padding:7px;
	width:380px;
}
.InputFormRequestItem:focus{
	background: #f2f9fe;
}
section.GroupItemsForm{
	box-shadow: 0pt 2px 6px rgba(0, 0, 0, 0.5), 0pt 1px rgba(255, 255, 255, 0.3) inset, 0pt 10px rgba(255, 255, 255, 0.2) inset, 0pt 10px 20px rgba(255, 255, 255, 0.25) inset, 0pt -15px 30px rgba(0, 0, 0, 0.1) inset;
	border-radius: 5px;
	padding:10px;
	margin:10px;
	width:600px;
}



