/*
This code is property of brainn.co
*/

footer{

}
footer a{
	color: #1E1E1E !important;
}
/*
Dropdown menu for categories
*/
.dropdown-menu-generic{
	display: inline-block;
	vertical-align: top;
}
.dropdown-menu-generic li{
	list-style: none;
	padding: 15px;
	width: 200px;
}
.dropdown-menu-generic li:hover{
	background: #CACACA;
}
.dropdown-menu-generic a{
	text-decoration: none;
	color: black;
}
.dropdown-menu-generic ul ul{
	display: none;
	z-index: 99;
}
.dropdown-menu-generic ul li{
	position: relative;
}
.dropdown-menu-generic ul li ul li{
	display: inline-block;
	padding: 10px;
}
.dropdown-menu-generic ul li:hover > ul{
	display: block;
	position: absolute;
	top: 0px;
	left: 200px;
}
/*
Base colors
*/
.color1{
	background: #FFFF00;
}
.color2{
	background: #0091E1;
}
.color3{
	background: #0000B9;
}
.color4{
	background: #92D607;
}
.color5{
	background: #D47D00;
}
.color6{
	background: #FF007D;
}
.color7{
	background: #F4F4F4;
}
.color8{
	background: #FAFAFA;
}
.font-black{
	color: black !important;
}
.div-center{
	margin: 5px auto !important;
}
.header-registration{
	margin: 20px;
}
.hover1:hover{
	background: #FAFAFA;
}
.image-preview-wrapper{
	width: 100px;
	height: 100px;
	margin: 5px;
	display: inline-block;
	border: 5px solid black;
	cursor: pointer;
}
.image-preview-wrapper:hover{
	background: url("/media/img/more-picture.png") no-repeat scroll transparent !important;
}
.input-file{
	display: none !important;
}
.width-350{
	width: 350px !important;
}
.navbar{
	width: 35% !important;
}
.margin5{
	margin: 5px !important;
}
.search-form{
	width: 1061px;
	margin: 0 auto;
}
.search-input{
	width: 700px;
	padding: 10px !important;
	border: 3px blue solid !important;
	border-radius: 0px !important;
	margin: 10px !important; 
}
.text-center{
	text-align: center !important;
}
.unread{
	background: red;
	color: white;
	padding: 5px;
}
.wrapper-div{
	border-radius: 2px;
	border: 1px solid rgb(221, 221, 221);
	box-shadow: 0pt 1px 3px rgba(150, 150, 150, 0.3);
	margin:5px;
	padding:10px;
}













