<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock%}</title>
        {% block facebooktags %}{% endblock %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ MEDIA_URL }}css/bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/normalize.css">
        <link href='http://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link href="{{ MEDIA_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        <header>

                <div>
                    <a href="/">
                        <img src="{{ MEDIA_URL }}img/howmuch.png" height="39" width="107">
                    </a>
                </div>

                <div>
                    <form action="/search/" method="GET">
                        <input name = "q" type="text" placeholder="Busca articulos a vender..." size="30">
                       
                    </form>
                </div>

                <nav id ="menu">
                    <div>   
                        <a href="/">Inicio</a>
                    </div>
                    <div>
                        <a  href="/notifications/">
                                {% if user.profile.unread_notifications > 0 %}
                                <div>{{ user.profile.unread_notifications }}</div>
                                {% endif %}
                                <div>
                                </div>
                        </a>
                    </div>
                    <div>
                        <a href="/messages/inbox">
                                {% if user.profile.unread_conversations > 0 %}
                                <div>{{ user.profile.unread_conversations }}</div>
                                {% endif %}
                                <div>
                                </div>
                        </a>
                    </div>
                    <div>
                        <a href="#">{{ user }}</a>
                        <ul>
                                <li><a href="/account/purchases/published">Mis Compras</a></li>
                                <li><a href="/account/sales/possible">Mis Ventas</a></li>
                                <li><a href="/profile/e/edit">Acerca de Mi</a></li>
                                <li><a href="/config/notifications">Configuracion</a></li>
                        </ul>
                    </div>

                    <div>
                        <a href="/article/post">Publicar Compra</a>
                    </div>  
                    
                </nav>


        </header>

        <section id="content">
            
                {% block content %}


                {% endblock %}
       
        </section>

        <footer>

            <p>
                <span>
                    El uso de howmuch.do implica que estas de acuerdo con la aceptación de los Términos y Condiciones y de las Políticas de Privacidad 
                </span>

                <span>
                    Copyright © 2012 Brainn SA de CV "Use It And Change The World"
                </span>
            </p>
        </footer>

        <script src="{{ MEDIA_URL }}js/plugins.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
        <script src="{{ MEDIA_URL}}js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.indextank.ize.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.indextank.autocomplete.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/querybuilder.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.indextank.ajaxsearch.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.indextank.renderer.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.indextank.instantsearch.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.bpopup-0.7.0.min.js"></script>
        
        {% block media %}
        {% endblock %}

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-26190176-5']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
