		<div class="content padding-0_5em">
					<!-- Starts categories list -->
					<h1>Categorias</h1>
					<ul class="categories">
						<!-- Starts category -->
						<li class="category">
							<span class="name">
								<span class="triangle attention js-enabled">&#9656;&nbsp;</span>
								<span>Videojuegos</span>
							</span>
						</li>
						<!-- Ends category -->

						<!-- Starts category -->
						<li class="category">
							<span class="name">
								<span class="triangle attention js-enabled">&#9656;&nbsp;</span>
								<span>Hogar</span>
							</span>
						</li>
						<!-- Ends category -->

						<!-- Starts category -->
						<li class="category">
							<span class="name">
								<span class="triangle attention js-enabled">&#9656;&nbsp;</span>
								<span>Electrodomésticos</span>
							</span>
						</li>
						<!-- Ends category -->

						<!-- Starts category -->
						<li class="category">
							<span class="name">
								<span class="triangle attention js-enabled">&#9656;&nbsp;</span>
								<span>Películas, series y DVDs</span>
							</span>
						</li>
						<!-- Ends category -->

						<!-- Starts category -->
						<li class="category">
							<span class="name">
								<span class="triangle attention js-enabled">&#9656;&nbsp;</span>
								<span>Electrónica y Accesorios</span>
							</span>
						</li>
						<!-- Ends category -->

						<!-- Starts category -->
						<li class="category">
							<span class="name">
								<span class="triangle attention js-enabled">&#9656;&nbsp;</span>
								<span>Celulares y Accesorios</span>
							</span>
						</li>
						<!-- Ends category -->

						<!-- Starts category -->
						<li class="category">
							<span class="name">
								<span class="triangle attention js-enabled">&#9656;&nbsp;</span>
								<span>Ropa y Accesorios</span>
							</span>
						</li>
						<!-- Ends category -->

						<!-- Starts category -->
						<li class="category">
							<span class="name">
								<span class="triangle attention js-enabled">&#9656;&nbsp;</span>
								<span>Libros y Revistas</span>
							</span>
						</li>
						<!-- Ends category -->

						<!-- Starts category -->
						<li class="category">
							<span class="name">
								<span class="triangle attention js-enabled">&#9656;&nbsp;</span>
								<span>Coleccionables</span>
							</span>
						</li>
						<!-- Ends category -->

						<!-- Starts category -->
						<li class="category">
							<span class="name">
								<span class="triangle attention js-enabled">&#9656;&nbsp;</span>
								<span>Computación y Accesorios</span>
							</span>
						</li>
						<!-- Ends category -->

						<!-- Starts category -->
						<li class="category">
							<span class="name">
								<span class="triangle attention js-enabled">&#9656;&nbsp;</span>
								<span>Instrumentos Musicales</span>
							</span>
						</li>
						<!-- Ends category -->

						<!-- Starts category -->
						<li class="category">
							<span class="name">
								<span class="triangle attention js-enabled">&#9656;&nbsp;</span>
								<span>Juguetes</span>
							</span>
						</li>
						<!-- Ends category -->

						<!-- Starts category -->
						<li class="category">
							<span class="name">
								<span class="triangle attention js-enabled">&#9656;&nbsp;</span>
								<span>Joyas y Relojes</span>
							</span>
						</li>
						<!-- Ends category -->
			
			
						
					</ul>
					<!-- Ends categories list -->
				</div>