<section class="dropdown-menu-generic">
	<ul class="wrapper-div">
		<li class="color7"><a href="#">Videojuegos</a>
		</li>
		<li class="color7"><a href="#">Hogar</a>
		</li>
		<li class="color7"><a href="#">Electrodomesticos</a>
		</li>
		<li class="color7"><a href="#">Peliculas, series y DVDs</a>
		</li>
		<li class="color7"><a href="#">Electronica y Accesorios</a>
		</li>
		<li class="color7"><a href="#">Celulares y Accesorios</a>
		</li>
		<li class="color7"><a href="#">Ropa y Accesorios</a>
		</li>
		<li class="color7"><a href="#">Libros y Revistas</a>
		</li>
		<li class="color7"><a href="#">Coleccionables</a>
		</li>
		<li class="color7"><a href="#">Computación y Accesorios</a>
		</li>
		<li class="color7"><a href="#">Instrumentos Musicales</a>
		</li>
		<li class="color7"><a href="#">Juguetes</a>
		</li>
		<li class="color7"><a href="#">Joyas y Relojes</a>
		</li>
	</ul>
</section>