		<div class="content padding-0_5em">
					<!-- Starts categories list -->
					<h1>Categorias</h1>
					<ul class="categories">
						<!-- Starts category -->
						<li class="category">
							<span class="name">
								<span class="triangle attention js-enabled">&#9656;&nbsp;</span>
								<span>Categoria 1</span>
							</span>
							
							<ul class="sub-categories">
								<!-- Starts sub-category -->
								<li class="sub-category">
									<span class="name">Subcategoria 1.1</span>
								</li>
								<!-- Ends sub-category -->
								
								<!-- Starts sub-category -->
								<li class="sub-category">
									<span class="name">Subcategoria 1.2</span>
								</li>
								<!-- Ends sub-category -->
								
								<!-- Starts sub-category -->
								<li class="sub-category">
									<span class="name">Subcategoria 1.3</span>
								</li>
								<!-- Ends sub-category -->
							</ul>
						</li>
						<!-- Ends category -->
						<!-- Starts category -->
						<li class="category">
							<span class="name">
								<span class="triangle attention js-enabled">&#9656;&nbsp;</span>
								<span>Categoria 3</span>
							</span>
							
							<ul class="sub-categories">
								<!-- Starts sub-category -->
								<li class="sub-category">
									<span class="name">Subcategoria 2.1</span>
								</li>
								<!-- Ends sub-category -->
								
								<!-- Starts sub-category -->
								<li class="sub-category">
									<span class="name">Subcategoria 2.2</span>
								</li>
								<!-- Ends sub-category -->
							</ul>
						</li>
						<!-- Ends category -->
						<!-- Starts category -->
						<li class="category">
							<span class="name">
								<span class="triangle attention js-enabled">&#9656;&nbsp;</span>
								<span>Categoria 2</span>
							</span>
							
							<ul class="sub-categories">
								<!-- Starts sub-category -->
								<li class="sub-category">
									<span class="name">Subcategoria 3.1</span>
								</li>
								<!-- Ends sub-category -->
								
								<!-- Starts sub-category -->
								<li class="sub-category">
									<span class="name">Subcategoria 3.2</span>
								</li>
								<!-- Ends sub-category -->
								<!-- Starts sub-category -->
								<li class="sub-category">
									<span class="name">Subcategoria 3.3</span>
								</li>
								<!-- Ends sub-category -->
								<!-- Starts sub-category -->
								<li class="sub-category">
									<span class="name">Subcategoria 3.4</span>
								</li>
								<!-- Ends sub-category -->
							</ul>
						</li>
						<!-- Ends category -->
						
					</ul>
					<!-- Ends categories list -->
				</div>