<script type="text/javascript">

$(document).on('ready', function(){
	$('.cat').click(function(e){
        
		if(document.URL.split("/")[3]==""){
            $('#'+this.id).attr("href","search/_cat_"+this.id);
        }
        else if(document.URL.split("/")[3]=="search"){
            if(document.URL.indexOf("_cat_")!=-1){
                if(document.URL.indexOf("_",document.URL.indexOf("_cat_")+5)!=-1){
                    window.location.assign(document.URL.split("_cat_")[0]+"_cat_"+this.id+"_"+document.URL.split("_cat_")[1].substr(document.URL.split("_cat_")[1].indexOf("_")+1));
                }
                else{
                    $('#'+this.id).attr("href",document.URL.split("_cat_")[0]+"_cat_"+this.id);
                }
            }
            else{
                $('#'+this.id).attr("href",document.URL.split("/")[4]+"_cat_"+this.id);
            }
        }
        else{
            window.location.assign(document.URL.split("/")[0]+"/"+document.URL.split("/")[1]+"/"+document.URL.split("/")[2]+"/search/_cat_"+this.id);
        }
	});
});
</script>

<section class="dropdown-menu-generic">
	<ul class="wrapper-div">
		<li class="color7"><a id="videojuegos" class="cat" href="#">Videojuegos</a>
		</li>
		<li class="color7"><a id="hogar" class="cat" href="#">Hogar</a>
		</li>
		<li class="color7"><a id="electrodomesticos" class="cat" href="#">Electrodomesticos</a>
		</li>
		<li class="color7"><a id="peliculas-series-dvds" class="cat" href="#">Peliculas, series y DVDs</a>
		</li>
		<li class="color7"><a id="electronica-accesorios" class="cat" href="#">Electronica y Accesorios</a>
		</li>
		<li class="color7"><a id="celulares-accesorios" class="cat" href="#">Celulares y Accesorios</a>
		</li>
		<li class="color7"><a id="ropa-accesorios" class="cat" href="#">Ropa y Accesorios</a>
		</li>
		<li class="color7"><a id="libros-revistas" class="cat" href="#">Libros y Revistas</a>
		</li>
		<li class="color7"><a id="coleccionables" class="cat" href="#">Coleccionables</a>
		</li>
		<li class="color7"><a id="computacion-accesorios" class="cat" href="#">Computación y Accesorios</a>
		</li>
		<li class="color7"><a id="instrumentos-musicales" class="cat" href="#">Instrumentos Musicales</a>
		</li>
		<li class="color7"><a id="juguetes" class="cat" href="#">Juguetes</a>
		</li>
		<li class="color7"><a id="joyas-relojes" class="cat" href="#">Joyas y Relojes</a>
		</li>
	</ul>
</section>