<section class="dropdown-menu-generic">
	<ul class="wrapper-div">
		<li class="color7"><a href="#">Videojuegos</a>
			<ul class=" wrapper-div color7">
				<li><a href="#">Subcategoria 1</a></li>
				<li><a href="#">Subcategoria 2</a></li>
				<li><a href="#">Subcategoria 3</a></li>
				<li><a href="#">Subcategoria 4</a></li>
				<li><a href="#">Subcategoria 5</a></li>
			</ul>
		</li>
		<li class="color7"><a href="#">Hogar</a>
			<ul class="wrapper-div color7">
				<li><a href="#">Subcategoria 1</a></li>
				<li><a href="#">Subcategoria 2</a></li>
				<li><a href="#">Subcategoria 3</a></li>
				<li><a href="#">Subcategoria 4</a></li>
				<li><a href="#">Subcategoria 5</a></li>
			</ul>
		</li>
		<li class="color7"><a href="#">Electrodomesticos</a>
			<ul class="wrapper-div color7">
				<li><a href="#">Subcategoria 1</a></li>
				<li><a href="#">Subcategoria 2</a></li>
				<li><a href="#">Subcategoria 3</a></li>
				<li><a href="#">Subcategoria 4</a></li>
				<li><a href="#">Subcategoria 5</a></li>
			</ul>
		</li>
		<li class="color7"><a href="#">Peliculas, series y DVDs</a>
			<ul class="wrapper-div color7">
				<li><a href="#">Subcategoria 1</a></li>
				<li><a href="#">Subcategoria 2</a></li>
				<li><a href="#">Subcategoria 3</a></li>
				<li><a href="#">Subcategoria 4</a></li>
				<li><a href="#">Subcategoria 5</a></li>
			</ul>
		</li>
		<li class="color7"><a href="#">Electronica y Accesorios</a>
			<ul class="wrapper-div color7">
				<li><a href="#">Subcategoria 1</a></li>
				<li><a href="#">Subcategoria 2</a></li>
				<li><a href="#">Subcategoria 3</a></li>
				<li><a href="#">Subcategoria 4</a></li>
				<li><a href="#">Subcategoria 5</a></li>
			</ul>
		</li>
		<li class="color7"><a href="#">Celulares y Accesorios</a>
			<ul class="wrapper-div color7">
				<li><a href="#">Subcategoria 1</a></li>
				<li><a href="#">Subcategoria 2</a></li>
				<li><a href="#">Subcategoria 3</a></li>
				<li><a href="#">Subcategoria 4</a></li>
				<li><a href="#">Subcategoria 5</a></li>
			</ul>
		</li>
		<li class="color7"><a href="#">Ropa y Accesorios</a>
			<ul class="wrapper-div color7">
				<li><a href="#">Subcategoria 1</a></li>
				<li><a href="#">Subcategoria 2</a></li>
				<li><a href="#">Subcategoria 3</a></li>
				<li><a href="#">Subcategoria 4</a></li>
				<li><a href="#">Subcategoria 5</a></li>
			</ul>
		</li>
		<li class="color7"><a href="#">Libros y Revistas</a>
			<ul class="wrapper-div color7">
				<li><a href="#">Subcategoria 1</a></li>
				<li><a href="#">Subcategoria 2</a></li>
				<li><a href="#">Subcategoria 3</a></li>
				<li><a href="#">Subcategoria 4</a></li>
				<li><a href="#">Subcategoria 5</a></li>
			</ul>
		</li>
		<li class="color7"><a href="#">Coleccionables</a>
			<ul class="wrapper-div color7">
				<li><a href="#">Subcategoria 1</a></li>
				<li><a href="#">Subcategoria 2</a></li>
				<li><a href="#">Subcategoria 3</a></li>
				<li><a href="#">Subcategoria 4</a></li>
				<li><a href="#">Subcategoria 5</a></li>
			</ul>
		</li>
		<li class="color7"><a href="#">Computación y Accesorios</a>
			<ul class="wrapper-div color7">
				<li><a href="#">Subcategoria 1</a></li>
				<li><a href="#">Subcategoria 2</a></li>
				<li><a href="#">Subcategoria 3</a></li>
				<li><a href="#">Subcategoria 4</a></li>
				<li><a href="#">Subcategoria 5</a></li>
			</ul>
		</li>
		<li class="color7"><a href="#">Instrumentos Musicales</a>
			<ul class="wrapper-div color7">
				<li><a href="#">Subcategoria 1</a></li>
				<li><a href="#">Subcategoria 2</a></li>
				<li><a href="#">Subcategoria 3</a></li>
				<li><a href="#">Subcategoria 4</a></li>
				<li><a href="#">Subcategoria 5</a></li>
			</ul>
		</li>
		<li class="color7"><a href="#">Juguetes</a>
			<ul class="wrapper-div color7">
				<li><a href="#">Subcategoria 1</a></li>
				<li><a href="#">Subcategoria 2</a></li>
				<li><a href="#">Subcategoria 3</a></li>
				<li><a href="#">Subcategoria 4</a></li>
				<li><a href="#">Subcategoria 5</a></li>
			</ul>
		</li>
		<li class="color7"><a href="#">Joyas y Relojes</a>
			<ul class="wrapper-div color7">
				<li><a href="#">Subcategoria 1</a></li>
				<li><a href="#">Subcategoria 2</a></li>
				<li><a href="#">Subcategoria 3</a></li>
				<li><a href="#">Subcategoria 4</a></li>
				<li><a href="#">Subcategoria 5</a></li>
			</ul>
		</li>
	</ul>
</section>