<footer class="wrapper-div3 background2 hidden-phone">
<section class="row-fluid">
	<div class="span2 text-center">
		<a class="a-title" href="/about/contact">Contacto</a>
	</div>
	<div class="span2 text-center">
		<a class="a-title" href="/about/terms">Terminos y Condiciones</a>
	</div>
	<div class="span2 text-center">
		<a class="a-title" href="/about/privacy">Politica de Privacidad</a>
	</div>
	<div class="span2 text-center">
		<a class="a-title" href="/about/faq">Preguntas Frecuentes</a>
	</div>
	<div class="span2 text-center">
		<a class="a-title" href="/problems/">Solución de Conflictos</a>
	</div>
	<div class="span2 text-center">
		<a class="a-title" href="#">Acerca de</a>
	</div>
</section>
<section class="text-center margin10">
	<a href="http://brainn.co">brainn company © 2013</a>
</section>
</footer>

