		<div class="header group text-align-center">
			<div class="logo float-left width-25">
				<a href="/">
					<img class="vertical-align-middle max-width-75" src="/media/img/comprateca_logo.png" alt="comprateca_logo" width="155" />
				</a>
			</div>
			
			<form class="search float-left width-50">
				<input type="text" class="search width-50" placeholder="¿Qué estás vendiendo?" />
				<input type="submit" class="green button" value="Buscar" />
			</form>
			
			<div class="user group float-right width-25">
				<div class="menu group width-50 float-left text-align-right">
					<div class="arrow attention float-right width-15">&#9662;</div>
					<div class="text float-right">Mi cuenta</div>
				</div>
				<div class="publish width-50 float-right">
					<a class="button green" href="#">Publicar</a>
				</div>
			</div>
		</div>