                <div class="content padding-0_5em text-align-center">
                    <div class="boxes div-center-fix width-90">
                        <!-- Start box -->
                        <div class="box margin-bottom-1em border slide-down">
                            <h2>Compradores</h2>
                            <div class="info padding-0_5em">
                                <span class="attention">&laquo;</span>
                                <span class="description">Publica una compra y recibe las mejores ofertas de vendedores</span>
                                <span class="attention">&raquo;</span>
                            </div>
                            <div class="button-container padding-1em">
                                <a class="button green" href="#">
                                    Ver más
                                </a>
                            </div>
                        </div>
                        <!-- End box -->
                        <!-- Start box -->
                        <div class="box margin-bottom-1em border slide-down">
                            <h2>Vendedores</h2>
                            <div class="info padding-0_5em">
                                <span class="attention">&laquo;</span>
                                <span class="description">Encuentra lo que la gente esta comprando y vendeselo</span>
                                <span class="attention">&raquo;</span>
                            </div>
                            <div class="button-container padding-1em">
                                <a class="button green" href="#">
                                    Ver más
                                </a>
                            </div>
                        </div>
                        <!-- End box -->
                    </div>
                </div>