<section>
	<div class=" wrapper-div color7">
		<form class="search-form" action="/search/" method="GET">
			<div class="row-fluid">
				<div class="span3">
					<center>
						<a href="/">
							<img width="209" height="40" src="{{ MEDIA_URL }}img/cuantoo_logo.png">
						</a>
					</center>
				</div>
				<div class="span6">
					<center>
						<input class="search-input span12" type="text" placeholder="¿Que estas vendiendo?" name="q">
					</center>
				</div>
				<div class="span3">
					<center>
						<input class="btn btn-primary btn-large" type="submit" value="Buscar">
					</center>
				</div>
			</div>
		</form>
	</div>
</section>


