<script type="text/javascript">
$(document).on('ready', function(){
	$('#searchform').submit(function(e){
		e.preventDefault();
        if(document.URL.indexOf("_")!=-1){
            window.location.assign(document.URL.split("/")[0]+"/"+document.URL.split("/")[1]+"/"+document.URL.split("/")[2]+"/search/"+$('#searchfield').attr("value"))+document.URL.substr(document.URL.indexOf("_")+1);
        }
        else{
            window.location.assign(document.URL.split("/")[0]+"/"+document.URL.split("/")[1]+"/"+document.URL.split("/")[2]+"/search/"+$('#searchfield').attr("value"));
        }
	});
});
</script>
<section id="search-bar">
	<form id="searchform" class="search-form" action="/search">
		<div class="wrapper-div2 background1">
			<div class="text-center">
				<ul class="inline">
					<li>
						<a href="/">
							<img width="262" height="69" src="{{ MEDIA_URL }}img/comprateca_logo.png">
						</a>
					</li>
					<li>
						<input id="searchfield" class="search-input span7" type="text" placeholder="¿Que estas vendiendo?">
					</li>
					<li>
						<button class="btn btn-success btn-large" type="submit" value="Vender">Vender</button>
					</li>
				</ul>
			</div>
		</div>
	</form>
</section>