<section id="search-bar">
	<div class="wrapper-div2 background1">
		<form class="search-form" action="/search/" method="GET">
			<div class="text-center">
				<ul class="inline">
					<li>
						<a href="/">
							<img width="262" height="69" src="{{ MEDIA_URL }}img/comprateca_logo.png">
						</a>
					</li>
					<li>
						<input class="search-input span7" type="text" placeholder="¿Que estas vendiendo?" name="q">
					</li>
					<li>
						<input class="btn btn-success btn-large" type="submit" value="Vender">
					</li>
				</ul>
			</div>
		</form>
	</div>
</section>


