{% extends "about/base.html" %}

{% block section2 %}
<div class="wrapper-div">
	<h1>Preguntas Frecuentes</h1>
	<p>
		<b>¿Cómo puedo publicar una compra?</b>
		Una vez que hayas iniciado sesión, en la pantalla de home, en la parte superior derecha, junto a los botones de home notifications e inbox se muestra el botón +PUBLICAR COMPRA. Una vez ingresado a esta sección es necesario definir el nombre del artículo deseado, la descripción del artículo deseado,  el precio de compra deseado, los tags que lo describan y aceptar la publicación.
	</p>
	<p>
		<b>¿Qué son los tags? </b>
		Los tags son etiquetas electrónicas en forma de texto que el comprador teclea y emplea para describir su producto, especificaciones e incluso categorización. Tras hacer esto, no es necesario que el comprador defina categorías manualmente para el artículo que desea comprar. Es la forma en que mediante el comprador, la página puede categorizar los artículos.
	</p>
	<p>
		<b>¿Qué es el prestigio? </b>
		El prestigio de usuario es su grado de renombre dentro del sitio, dicho renombre se construye tras realizar transacciones y quedar evaluado en ese rubro tras su contraparte en la transacción. Entre más transacciones efectivas y exitosas realice el usuario, mejores y más evaluaciones de prestigio recibirá de su contraparte y así su prestigió se incrementará y así su categoría o nivel de prestigio irá en ascenso también.
	</p>
	<p>
		<b>¿Para qué sirven los puntos de prestigio?</b>
		Dichos puntos se generan al ser evaluado por su contraparte al consolidar una transacción y entre más puntos tenga podrá avanzar de categoría de prestigio diferenciándose de los demás usuarios y teniendo muchas mayores posibilidades de consolidar transacciones.
	</p>
	<p>
		<b>¿Cómo funciona la facturación?</b>
		El sistema de facturación genera facturas individuales, confidenciales y únicas para cada usuario cuando realiza una venta.  Al consolidar una venta, el usuario genera un adeudo con la página COMPRO.SI correspondiente al N% de la cantidad final de dinero con la que se cerró dicha transacción. Es entonces cuando dicho adeudo que el usuario genera con la página se registra en su factura electrónica en su sección de facturación. Esta es la manera con la que el sitio lleva un control de cada usuario con respecto a sus adeudos.
	</p>
	<p>
		<b>¿Cuál es la máxima cantidad que puedo tener como adeudo para seguir usando los servicios del sitio?</b>
	</p>
	<p>
		<b>¿Qué sucede si hago caso omiso una vez que haya alcanzado el límite de adeudo?</b>
		Al acontecer dicha situación, el usuario no podrá ver reflejado el prestigio acumulado que recibió por las transacciones incluidas en esa facturación y asimismo, no podrá hacer uso de los servicios de la página, su cuenta quedará bloqueada hasta saldar dicho adeudo.
	</p>
	<p>
		<b>¿En qué consiste la sección de notificaciones?</b>
		La sección de notificaciones es la sección que tiene como propósito mostrar al usuario los avisos que la página le genera por la interacción con otro usuario en una transacción.
	</p>
	<p>
		<b>¿En qué consiste la sección de Inbox?</b>
		La sección de Inbox tiene como propósito mostrar al usuario las conversaciones que tiene con otros usuarios del portal a manera de consolidar transacciones.
	</p>
	<p>
		<b>¿Porqué se me solicita el nombre de la empresa a la que pertenezco?</b>
		Este dato es solicitado en caso de que el usuario vaya a generar transacciones a nombre de su empresa, es por esta situación que se pide la identificación de la misma.
	</p>
	<p>
		<b>¿Por qué es necesario agregar mis direcciones dentro de mi información personal? </b>
		Se solicitan la ó las direcciones al usuario ya que esta dirección ó direcciones son las que los demás usuarios tendrán como referencia para enviarle artículos.
	</p>
	<p>
		<b>¿Por qué es necesario proveer mis teléfonos? </b>
		Este dato es necesario para que en el momento en que se cree el vínculo entre los usuarios en una transacción, la contraparte pueda contactarlo. Este dato no será visible públicamente.
	</p>
	<p>
		<b>¿Porqué es necesario proveer información acerca de mis cuentas bancarias?</b>
		Esta información es solicitada ya que con ella, si usted tiene que recibir un pago debido a una transacción, su contraparte sabrá donde depositarle el dinero.
	</p>
	<p>
		<b>¿Puedo controlar los correos electrónicos que recibo de la página?</b>
		Si, esto es posible en la vista home (inicio) en el botón que tiene su nombre en la parte superior de la página, tras haber dado click en este botón ó menú, será necesario que de click en la sección de configuración. Una vez hecho esto, se le desplegará una vista en la cual habrá 2 pestañas, de click en la pestaña llamada configuración y allí podrá palomear las casillas de los mails que desee recibir por parte de la página.
	</p>
	<p>
		<b>¿Dónde puedo modificar mi usuario y contraseña?</b>
		En la vista home (inicio) será necesario que de click en el botón que tiene su nombre en la parte superior de la página, tras esto será necesario que de click en la sección de configuración. Una vez hecho esto, se le desplegará una vista en la cual habrá 2 pestañas, de click en la pestaña llamada cuenta. Una vez aquí podrá modificar su usuario, contraseña y correo electrónico dando click en el botón modificar de cada apartado.
	</p>
	<p>
		<b>¿Cómo puedo cerrar cesión?</b>
		En la vista home (inicio) será necesario que de click en el botón que tiene su nombre en la parte superior de la página, tras esto será necesario que de click en la sección cerrar sesión.
	</p>
	<p>
		<b>¿Qué puedo encontrar en la sección “Mis ofertas”?</b>
		En la sección “Mis ofertas” usted podrá encontrar las ofertas que usted como vendedor ha realizado a las publicaciones de compra que deseo satisfacer dando click en vender y arrojando un precio de contraoferta.
	</p>
	<p>
		<b>¿Qué puedo encontrar en la sección “Mis compras”? </b>
		En la sección mis compras usted podrá encontrar las diversas publicaciones de compra que usted ha emitido en el portal
	</p>
	<p>
		<b>¿Qué puedo encontrar en la sección “Mis ventas”? </b>
		En la sección “Mis ventas” usted podrá encontrar las transacciones en las que usted ha sido seleccionado como el candidato vendedor definitivo para satisfacer la ó las publicaciones de compra en cuestión.
	</p>
	<p>
		<b>¿Para qué sirve la sección o botón “Siguiendo”?</b>
		En la sección “Siguiendo” usted como vendedor, podrá encontrar sus transacciones “favoritas” a las cuales usted seleccionó dar seguimiento más detallado. 
	</p>
	<p>
		<b>¿Cómo puedo buscar una publicación de compra? </b>
		Para buscar una publicación de compra en específico es necesario que dentro de la vista home (inicio) usted se ubique en la barra de búsqueda y le de click para que aparezca en ella un cursos y pueda escribir el nombre del artículo que desee buscar y una vez hecho esto, habrá que dar click en el botón buscar.
	</p>
	<p>
		<b>¿Cómo puedo vender un artículo? </b>
		Es necesario encontrar primero una publicación de compra que desee satisfacer usando la barra de búsqueda, tras hacer esto, lo único que tiene que hacer es dar click en ella y posteriormente en el botón vender
	</p>
	<p>
		<b>¿Por qué se me solicita poner un precio de contraoferta cuando intento vender una publicación? </b>
		Dicha contraoferta es necesaria para que usted como vendedor, con base en el precio emitido por le comprador arroje una contraoferta que considere gastos adicionales como gastos de envío, etc.
	</p>
	<p>
		<b>¿Cómo puedo reportar algún problema con alguna transacción?</b>
		Para hacer algún reporte, es necesario que dentro de la vista home (Inicio) en la parte inferior usted ubique la sección denominada cliente, tras esto de click en el apartado denominado “Solución de conflictos”
	</p>
	<p>
		<b>¿Cuáles son las formas de pago que puedo utilizar?</b>
		<ul>
			<li>Tarjeta de crédito (VISA , MASTER CARD)</li>
			<li>Depósito bancario</li>
		</ul>
	</p>
</div>
{% endblock %}