{% extends "about/base.html" %}

{% block section2 %}
<div class="wrapper-div">
	<h2>Politica de Privacidad</h2>
	<p>
		En este documento electrónico se encuentran plasmados los términos, condiciones y políticas de operación y uso del sitio electrónico HOWMUCH.do concernientes a la empresa HOWMUCH. El alcance de estos puntos es en todo momento de uso, operación y transacción en el sitio de HOWMUCH.do y aquella persona ó empresa que decida usar el sitio ya sea como usuario, como socio ó ambos (a seguir definen ambos conceptos, usuario y socio) estará de acuerdo y se somete estrictamente y en todo momento a acatar estos puntos y lineamientos. Por lo anterior, es necesario que la persona que se interese en usar el sitio lea antes y con atención los presentes términos y condiciones.
	</p>
	<p>
		La persona ó empresa que se encuentre en desacuerdo con alguno ó algunos de estos puntos deberá abstener de usar el sitio HOWMUCH.do y sus servicios.
	</p>
	<p>
		El usuario plasma la necesidad de un producto  a un precio determinado y una empresa ó persona (socio) elige si se lo vende ó no.
	</p>

	<p>
		1. En el momento en que una persona física ó moral, compra ó solicita algún producto en la página de HOWMUCH se convierte en un usuario para HOWMUCH. Cuando una persona física ó moral vende ó hace una oferta de venta para cualquier artículo solicitado por algún usuario por medio del sitio de HOWMUCH inmediatamente pasa a ser socio de HOWMUCH.
	</p>

	<p>
		2. El uso del sitio HOWMUCH.do y por tanto, de transacciones y servicios efectuados mediante el mismo se ve limitado a usuarios con capacidad legal para contratar y/o ofrecer dichos servicios. En caso de que sean empresas las que utilicen el sitio HOWMUCH para realizar transacciones ó servicios, la persona que use la cuenta a nombre de la empresa en cuestión deberá tener el poder y la capacidad legal para comprar/vender en nombre de ella, contratar en nombre de ella y obligar en nombre de la misma a los términos de este acuerdo.
	</p>
	<p>
		3. Aquél individuo ó empresa que desee usar HOWMUCH en cualquiera de sus modalidades, deberá de llenar el formulario de inscripción con sus datos verdaderos y precisos a manera de ayudar la realización de las transacciones.
	</p>
	<p>
		4. HOWMUCH no se hace responsable de que algún individuo ó empresa registrada haya proporcionado datos no reales.
	</p>
	<p>
		5. HOWMUCH se reserva el derecho de exigir comprobantes de cualquier índole a manera de corroborar la identidad ó datos personales de cualquier sujeto ó entidad que se registre al sitio.
	</p>
	<p>
		6. En caso de que HOWMUCH no pueda confirmar los datos de algún sujeto ó empresa ya sea socio ó usuario, le podrá inhabilitar ó suspender la cuenta.
	</p>
	<p>
		7. El usuario ó socio del sitio HOWMUCH.do deberá ingresar a su cuenta mediante su nombre de usuario y contraseña. Asimismo, el responsable de dicha cuenta se compromete a guardar la confidencialidad de su contraseña.
	</p>
	<p>
		8. El usuario ó socio de HOWMUCH.do tiene prohibido brindar los datos de su cuenta (nombre de usuario y  contraseña) a algún otro individuo ó empresa para realizar transacciones.
	</p>
	<p>
		9. Las cuentas brindadas por el sitio de HOWMUCH.do son únicas e intransferibles, no está permitido vender cuentas del sitio.
	</p>
	<p>
		10. Cualquier socio ó usuario se compromete a notificar de manera veraz y oportuna el uso indebido de alguna cuenta ó uso no autorizado de su propia cuenta.
	</p>
	<p>
		11. HOWMUCH se reserva el derecho de rechazar cualquier formulario de inscripción, aunque ya haya sido previamente registrado, deslindándose de explicaciones al futuro propietario o propietario de cuenta, sin que esto le brinde al afectado derecho alguno de indemnización.
	</p>
	<p>
		12. HOWMUCH sólo es un intermediario entre usuarios y socios en la realización de transacciones.
	</p>
	<p>
		13. HOWMUCH no se hace responsable por el incumplimiento por parte de los socios.
	</p>
	<p>
		14. HOWMUCH no se responsabiliza por asuntos de cambio, pérdida y devolución de mercancía en cualquier estado.
	</p>
	<p>
		15. HOWMUCH no hace devolución de mercancía, especie ó dinero. Lo anterior debido a que HOWMUCH sólo es un intermediario, es decir, en ningún momento es propietario, manipula ó maneja la mercancía ofertada por los socios, ni tampoco el dinero que es depositado por parte de los usuarios.
	</p>
	<p>
		16. HOWMUCH no acepta devoluciones de mercancía por parte de los usuarios, ni dinero por parte de los socios. (Ver punto 5)
	</p>
	<p>
		17. HOWMUCH se deslinda de cualquier incumplimiento de pago en efectivo por parte de los usuarios a los socios por cualquier transacción.
	</p>
	<p>
		18. El socio tiene la responsabilidad de enviar el producto a la dirección que el usuario especifique y en el tiempo acordado/prometido.
	</p>
	<p>
		19. HOWMUCH cobrará un monto de 7% por comisión a los socios por cada venta que realicen.
	</p>
	<p>
		20. HOWMUCH cobrará comisión con base en el precio publicado (al que le dio click en “aceptar venta”).
	</p>
	<p>
		21. Cualquier usuario sea empresa o individuo se compromete a clasificar el artículo que desee adquirir de manera correcta de acuerdo a las categorías y subcategorías pertinentes proveídas por el sitio HOWMUCH.do.
	</p>
	<p>
		22. HOWMUCH prohíbe el uso de palabras altisonantes y/ó ofensivas dentro del sitio.
	</p>
	<p>
		23. HOWMUCH prohíbe el uso de material fotográfico inadecuado para la descripción de los productos ofertados por los socios.
	</p>
	<p>
		24. HOWMUCH se reserva el derecho de eliminar cualquier cuenta, oferta, foto ó publicación que considere inadecuado y que entre en conflicto con algunos de los puntos establecidos en este documento.
	</p>
	<p>
		25. Sólo se podrán hacer transacciones y por tanto ofrecer y vender artículos que no estén prohibidos  por la ley del territorio en cuestión. Además también deben ser artículos que no estén en la lista de artículos prohibidos de HOWMUCH.do.
	</p>
	<p>
		26. Los artículos ó productos manejados en las transacciones de la página por los socios y/ó usuarios no deberán infringir propiedad intelectual, derechos de autor, patentes y situaciones del rubro.
	</p>
	<p>
		27. HOWMUCH cobrará la comisión correspondiente por sus ventas en tiempo y forma. El socio que incumpla de cualquier manera con la cantidad que HOWMUCH cobre de acuerdo a lo acordado en la conjunción de los puntos 19 y 20 será sancionado conforme a la ley lo indica y su cuenta será suspendida temporalmente ó totalmente anulada de acuerdo a la gravedad del caso según determine HOWMUCH.
	</p>
	<p>
		28. HOWMUCH se reserva el derecho de modificar el monto de la comisión por venta a cobrar a los socios.
	</p>
	<p>
		29. HOWMUCH se reserva el derecho de tomar medidas legales y judiciales y extrajudiciales que estime pertinentes para la obtención del pago del monto estipulado, en caso de no ser posible el cobro al socio en tiempo y forma debido a cualquier circunstancia que impida el cobro que se encuentre en poder y control del socio y de su cuenta bancaria.
	</p>
	<p>
		30. HOWMUCH se compromete a proteger y almacenar la información de sus usuarios y socios conforme a las políticas de privacidad.
	</p>
	<p>
		31. Tanto los usuarios cómo los socios, podrán tener solamente una cuenta vinculada a un sólo correo ó nombre de usuario.
	</p>
	<p>
		32. HOWMUCH se reserva el derecho de auditar el historial de transacciones de los socios y usuarios del sitio las ocasiones que sean necesarias para fines administrativos, contables, de control y seguridad.
	</p>
	<p>
		33. HOWMUCH realizará audición y registro de las transacciones de los socios cada determinado tiempo para contabilizar ganancias de éstos y monitorear actividad tanto de socios como usuarios para ofrecer un mejor servicio y contar con datos estadísticos que permitan mejorar el servicio en sus ámbitos funcionales, administrativos, contables, de seguridad, de privacidad, etc.
	</p>
	<p>
		34. HOWMUCH almacenará y usará la información de los usuarios y socios sólo y con el único fin de facilitar las transacciones entre ellos.
	</p>
	<p>
		35. HOWMUCH se reserva el derecho y libertad de modificar estos términos y condiciones y los contratos de uso del sitio y documentos similares cada ocasión que considere pertinente ó que amerite un cambio. En caso de realizar HOWMUCH cambios, entrarán en vigor a partir de 10 días de la edición, y el socio ó usuario tendrá 5 días para comunicar mediante un correo electrónico si no acepta ó esta en desacuerdo con las modificaciones, en caso de que suceda lo descrito, se inhabilitará la cuenta del usuario ó socio y el contrato quedará absuelto siempre y cuando no se tengan cuentas pendientes con HOWMUCH. Sino sucede lo descrito (la notificación de no aceptar ó no estar de acuerdo con modificaciones) se asumirá que el socio ó usuario esta de acuerdo con las ediciones a los rubros en cuestión.
	</p>
	<p>
		36. En caso de que cualquier socio ó usuario esté en desacuerdo con modificaciones en los términos y condiciones, contratos de uso del sitio HOWMUCH.do y documentos similares y además tenga un adeudo pendiente a favor de HOWMUCH, éste estará obligado a saldarlo ante HOWMUCH, y en ese lapso (desde el momento que está en desacuerdo hasta que salda su deuda), la cuenta del usuario y/ó socio quedará inhabilitada para realizar transacciones ante otros socios y/ó usuarios de HOWMUCH.do, sólo podrá usarla para comunicarse con HOWMUCH y cumplir con su adeudo ante HOWMUCH. El adeudo deberá saldarse a la brevedad, de lo contrario se recurrirá a las medidas establecidas en el punto 29 de estos términos y condiciones.
	</p>
	<p>
		37. El usuario en una transacción tiene a libertad de solicitar una factura de compra al socio con el que estableció la transacción. Asimismo, el socio tiene la libertad de emitirla.
	</p>
	<p>
		38. HOWMUCH facturará de manera electrónica cada mes, las transacciones realizadas por los socios a manera de llevar el control de los servicio que HOWMUCH esta brindando a dichos socios y para monitorear los montos por comisión que ha cobrado correspondientes a las transacciones realizadas por los socios mediante en sitio HOWMUCH.do
	</p>
	<p>
		39. Las transacciones realizadas en el sitio de HOWMUCH son irrevocables e irreversibles, salvo ocasiones excepcionales como la incapacidad de identificación ó de identificar a alguno de los participantes, errores de tipografía, y casos similares y evaluados por HOWMUCH tras haber sido informado.
	</p>
	<p>
		40. Queda prohibido que socios y/ó usuarios intervengan en transacciones que no sean las suyas. Además que durante sus transacciones, se comuniquen entre sí mediante algún medio ajeno al chat de la página HOWMUCH.do.
	</p>
	<p>
		41. Esta prohibido y se penará cualquier intento de interferir, alterar ó modificar las bases de datos, operaciones, actividades, servicios, publicaciones de otros usuarios, etc. de HOWMUCH haciendo uso de cualquier medio, ya sea software, dispositivos, etc.
	</p>
	<p>
		42. En dado caso de que algún usuario, socio ó tercero realice algún tipo de reclamo ó acción legal, todos los involucrados deberán eximir de toda y cualquier responsabilidad a HOWMUCH, su capital de trabajo, directivos, etc.
	</p>
	<p>
		43. En ningún momento HOWMUCH crea contrato de sociedad con sus socios y usuarios. Ambos reconocen que HOWMUCH nunca es parte de alguna operación, que no tiene control sobre la calidad, antigüedad, etc. de los artículos. Asimismo, HOWMUCH no garantiza la veracidad de material publicado por socios y usuarios.
	</p>
	<p>
		44. HOWMUCH no se responsabiliza por cualquier pérdida, daño ó perjuicio que cualquier usuario ó socio pueda sufrir debido a fallas en el sistema de HOWMUCH, sean estas fallas por servidores, internet, etc. Asimismo, HOWMUCH se deslinda de cualquier daño sufrido a los usuarios, socios ó terceros por la transferencia de virus computacionales al transferir o recibir material digital, sea audio, video, fotografías, sonido, etc.
	</p>
	<p>
		45. En caso de que HOWMUCH facture cargos que no corresponden, el socio afectado deberá comunicarse con HOWMUCH para resolver la problemática.
	</p>
	<p>
		46. HOWMUCH brindará la posibilidad a los socios y usuarios de emitir calificaciones a su contraparte en la transacción, esto para ayudar a regular los problemas de identidad, confiabilidad, etc. HOWMUCH no tiene la obligación de verificar la veracidad de dichas calificaciones. Estas calificaciones generarán la categoría de prestigio que ambos (socios y usuarios) posean.
	</p>
	<p>
		47. Las bases de datos, pantallas, formularios, registros de inscripción, programas, redes y archivos que permiten a los socios y usuarios registrarse, acceder y usar su cuenta son propiedad de HOWMUCH y están protegidos por leyes y tratados de derechos de autor, marcas, patentes, modelos y diseños industriales. Su reproducción total ó parcial queda prohibida, a menos que sea explícitamente concedida por HOWMUCH.
	</p>
	<p>
		48. El Usuario indemnizará y mantendrá indemne a HOWMUCH, sus filiales, controlantes, directivos, administradores, representantes y empleados, por cualquier reclamo ó demanda de otros Usuarios ó terceros por sus actividades en el Sitio ó por su incumplimiento a los Términos y Condiciones Generales y demás Políticas que se entienden incorporadas al presente ó por la violación de cualesquiera leyes ó derechos de terceros, incluyendo los honorarios de abogados en una cantidad razonable.
	</p>
	<p>
		48. El Usuario indemnizará y mantendrá indemne a HOWMUCH, sus filiales, controlantes, directivos, administradores, representantes y empleados, por cualquier reclamo ó demanda de otros Usuarios ó terceros por sus actividades en el Sitio ó por su incumplimiento a los Términos y Condiciones Generales y demás Políticas que se entienden incorporadas al presente ó por la violación de cualesquiera leyes ó derechos de terceros, incluyendo los honorarios de abogados en una cantidad razonable.
	</p>
</div>
{% endblock %}